section.achivs {
  position: absolute;
  width: 30vw;
  height: 98vh;
  user-select: none;
}
.resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: nwse-resize;
}
.resizer::after,
.resizer::before {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 10px;
  height: 10px;
  transform: rotateZ(-45deg);
  background-color: gray;
  clip-path: circle();
}
/* .resizer::before {
  width: 3px;
  height: 10px;
} */
.achivs_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #171717;
  user-select: none;
  cursor: default;
  overflow: visible;
}
.achiv-block {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 3px;
  width: auto;
  height: auto;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
  /* background-color: rgb(46, 46, 46); */
}
.filler {
  width: 0;
  height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
}
.achiv-block.recent-earned {
  box-shadow: 0px 0px 5px 3px rgba(255, 238, 140, 0.568);
}
.achiv-block.recent-earned-hard {
  box-shadow: 0px 0px 5px 3px rgb(255 237 140);
}

.achiv-block.earned {
  filter: none;
  animation: achiv-earned-animation 0.6s;
}
.achiv-block.earned.hardcore::before {
  content: "";
  position: absolute;
  width: 50%;
  aspect-ratio: 2/1;
  /* height: 25%; */
  top: 20%;
  right: 20%;
  transform: translate(50%, -50%) rotate(45deg);
  background-image: url(../assets/img/S-rank-1.png);
  filter: drop-shadow(5px 3px 3px black);
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: hardcore-earned-animation 0.1s linear forwards;
  animation-delay: 0.6s;
}
.achiv-block.earned[data-points="poor"]::after,
.achiv-block.earned[data-points="normal"]::after,
.achiv-block.earned[data-points="reach"]::after {
  content: "";
  position: absolute;
  height: 15%;
  aspect-ratio: 1 / 1;
  bottom: 10%;
  left: 10%;
  background-image: url(../assets/img/coins-less.png);
  filter: drop-shadow(3px 3px 3px black);
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: hardcore-earned-animation 0.1s linear forwards;
  animation-delay: 0.6s;
}
.achiv-block.earned[data-points="normal"]::after {
  height: 20%;
  bottom: 5%;
  transform: rotateY(180deg);
  background-image: url(../assets/img/coins-middle.png);
}
.achiv-block.earned[data-points="reach"]::after {
  height: 20%;
  bottom: 10%;
  background-image: url(../assets/img/coins.png);
}

@keyframes hardcore-earned-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes achiv-earned-animation {
  0% {
    padding: 10px;
  }
  25% {
    padding: 20px;
  }
  75% {
    padding: 0px;
  }
  100% {
    padding: 5px;
  }
}
.preview-container {
  width: 100%;
  height: auto;
}
.achiv-preview {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 5px;
  overflow: hidden;
  /* clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); */
  filter: grayscale();
  image-rendering: pixelated;
}
.achiv-block.earned .achiv-preview {
  filter: none;
}

/* .achiv-block.earned::after,
.achiv-block.earned.hardcore::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/glass-bg.png");
  background-size: cover;
  image-rendering: pixelated;
}
.achiv-block.earned.hardcore::after {
  background-image: url("../assets/img/glass-bg_hard.png");
} */
.achiv-details {
  position: absolute;
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
}
.achiv-title {
  font-weight: 600;
  line-height: 2rem;
  /* font-size: inherit; */
}
.achiv-description {
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  flex: 1;
}
.achiv-details-block {
  position: absolute;
  line-height: 1.5rem;
  width: 300px;
  background-color: black;
  height: auto;
  z-index: 10;
  left: 50%;
  top: 10%;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.achiv-details-block .points {
  position: relative;
  padding-left: 25px;
}
.achiv-details-block .points::before {
  content: "";
  position: absolute;
  height: 20px;
  aspect-ratio: 1 / 1;
  bottom: 0;
  left: 0;
  background-image: url(../assets/img/coins.png);
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: hardcore-earned-animation 0.1s linear forwards;
  animation-delay: 0.6s;
}
.achiv-block:hover .achiv-details-block {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
