section.achivs {
  position: absolute;
  width: 30vw;
  height: 98vh;
}
section.achivs:hover {
  transition: none;
}
.resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: nwse-resize;
}
section.achivs:hover .resizer:hover::after {
  width: 15px;
  height: 15px;
  transition: 0.2s;
}
section.achivs:hover .resizer:active::after {
  width: 10px;
  height: 10px;
  background-color: red;
  transition: 0.2s;
}
section.achivs:hover .resizer::after {
  background-color: green;
}
.resizer::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 10px;
  height: 10px;
  transform: rotateZ(-45deg);
  background-color: transparent;
  clip-path: circle();
  transition: 0.2s;
}
/* .resizer::before {
  width: 3px;
  height: 10px;
} */
.achivs_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #171717;
  cursor: default;
  overflow: visible;
}

.achivs_section:hover {
  /* border: 1px solid white; */
  background-color: #171717;
  transition: 0.2s;
}
.achivs_section:active {
  border-color: green;
}
.achiv-block {
  position: relative;
  padding: 3px;
  width: auto;
  aspect-ratio: 1;
  /* background-color: rgb(46, 46, 46); */
}
.achiv-block.recent-earned {
  box-shadow: 0px 0px 5px 3px rgba(255, 238, 140, 0.568);
}
.achiv-block.recent-earned-hard {
  box-shadow: 0px 0px 5px 3px rgb(255 237 140);
}

.achiv-block.earned {
  filter: none;
  animation: achiv-earned-animation 0.6s;
}
.achiv-block.earned.hardcore::before {
  content: "";
  position: absolute;
  width: 50%;
  aspect-ratio: 2/1;
  top: 20%;
  right: 20%;
  transform: translate(50%, -50%) rotate(45deg);
  background-image: url(../assets/img/S-rank-1.png);
  filter: drop-shadow(5px 3px 3px black);
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: hardcore-earned-animation 0.1s linear forwards;
  animation-delay: 0.6s;
}
.achiv-block.earned[data-points="poor"]::after,
.achiv-block.earned[data-points="normal"]::after,
.achiv-block.earned[data-points="reach"]::after {
  content: "";
  position: absolute;
  height: 15%;
  aspect-ratio: 1 / 1;
  bottom: 10%;
  left: 10%;
  background-image: url(../assets/img/coins-less.png);
  filter: drop-shadow(3px 3px 3px black);
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: hardcore-earned-animation 0.1s linear forwards;
  animation-delay: 0.6s;
}
.achiv-block.earned[data-points="normal"]::after {
  height: 20%;
  bottom: 5%;
  transform: rotateY(180deg);
  background-image: url(../assets/img/coins-middle.png);
}
.achiv-block.earned[data-points="reach"]::after {
  height: 20%;
  bottom: 10%;
  background-image: url(../assets/img/coins.png);
}

@keyframes hardcore-earned-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes achiv-earned-animation {
  0% {
    padding: 10px;
  }
  25% {
    padding: 20px;
  }
  75% {
    padding: 0px;
  }
  100% {
    padding: 5px;
  }
}
.preview-container {
  width: 100%;
}
.achiv-preview {
  width: 100%;
  aspect-ratio: 1;
  filter: grayscale();
  image-rendering: pixelated;
  border-radius: 2px;
  overflow: hidden;
}
.achiv-block.earned .achiv-preview {
  filter: none;
}

.achiv-block .add-to-target {
  position: absolute;
  width: 24px;
  aspect-ratio: 1;
  background-color: #171717a1;
  border-radius: 50%;
  overflow: hidden;
  top: 5px;
  left: 5px;
  opacity: 0;
  transition: 0.2s;
}
.achiv-block:hover .add-to-target {
  opacity: 1;
  transition: 0.2s;
}
.achiv-block:hover .add-to-target:hover {
  background-color: #171717;

  transform: scale(1.1);
  opacity: 1;
  transition: 0.2s;
}
.achiv-block:hover .add-to-target::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  position: absolute;
  width: 80%;
  aspect-ratio: 1;
  background-image: url(../assets/img/add.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
}
.achiv-block:hover .add-to-target:active::before {
  transform: translate(-50%, -50%) scale(0.9);
  transition: 0.2s;
}

/* .achiv-block.earned::after,
.achiv-block.earned.hardcore::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/glass-bg.png");
  background-size: cover;
  image-rendering: pixelated;
}
.achiv-block.earned.hardcore::after {
  background-image: url("../assets/img/glass-bg_hard.png");
} */

.achiv-title {
  font-weight: 600;
  line-height: 2rem;
}
.achiv-description {
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  flex: 1;
}
.achiv-details-block {
  position: absolute;
  width: 300px;
  left: 100%;
  top: 10%;
  padding: 5px;
  background-color: black;
  border: 1px solid gray;
  border-radius: 5px;
  line-height: 1.5rem;
  pointer-events: none;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.achiv-details-block .points {
  position: relative;
  padding-left: 25px;
}
.achiv-details-block .points::before {
  content: "";
  position: absolute;
  height: 20px;
  aspect-ratio: 1 / 1;
  bottom: 0;
  left: 0;
  background-image: url(../assets/img/coins.png);
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: hardcore-earned-animation 0.1s linear forwards;
  animation-delay: 0.6s;
}
.achiv-block:hover .achiv-details-block {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
