.awards_section {
  position: absolute;
  top: 30px;
  left: 20%;
  min-width: 300px;
  width: 390px;
  height: 600px;
  min-height: 90px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--main-color);
  visibility: visible;
  opacity: 1;
}

.awards_section.hidden {
  visibility: hidden;
  opacity: 0;
}

.awards_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.awards-header-text {
  flex: 1;
}

.awards-header_container {
  position: sticky;
  top: 0;
  height: auto;
}

.get-awards_button:hover {
  opacity: 1;
}

.get-awards_button:active {
  opacity: 0.8;
  transform: scale(0.9);
  /* transition: 0.2s; */
}

.awards-content_container {
  max-height: 100%;
  overflow: scroll;
  width: 100%;
}

.console-awards {
  display: grid;
  grid-template-columns: 1fr auto auto;
  /* column-gap: 10px; */
  padding: 5px;
}

.console-awards:nth-child(even) {
  background-color: var(--secondary-color);
}

.awards-console_header {
  padding: 5px 0;
  cursor: pointer;
  overflow: hidden;
}

.console-awards-values {
  display: flex;
  align-items: center;
  gap: 15px;
}

.awarded-games {
  position: relative;
  padding: 0 0 0 10px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s;
}

.awarded-games:hover {
  transform: scale(1.05);
}

.awarded-games:active {
  transform: scale(0.95);
}

.awarded-games:before {
  --dot-fill-to-color: transparent;
  --dot-border-color: transparent;
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 55%;
  left: 0px;
  transform: translate(0, -50%);
  background-color: var(--dot-fill-to-color);
  border-radius: 50%;
  border: 1px solid var(--dot-border-color);
}

.awarded-games.beaten-softcore:before,
.awarded-games.beaten:before {
  --dot-border-color: silver;
}

.awarded-games.completed:before,
.awarded-games.mastered:before {
  --dot-border-color: gold;
}

.awarded-games.mastered:before,
.awarded-games.beaten:before {
  --dot-fill-to-color: var(--dot-border-color)
}

.awarded-games_list {
  grid-column: 1 / 5;
  visibility: visible;
  width: 100%;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.awarded-games_list.hidden {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.awards__game-item {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto 1fr;
  transition: 0.2s;
}

.awards__game-item.hidden {
  display: none;
}

.console-awards:nth-child(odd) .awards__game-item {
  background-color: var(--secondary-color);
}

.console-awards:nth-child(even) .awards__game-item {
  background-color: var(--main-color);
}

.awards__game-item.beatenSoftcore,
.awards__game-item.completion::after {
  --mark-color: silver;
}

.awards__game-item.beatenHardcore::after,
.awards__game-item.mastery::after {
  --mark-color: gold;
}

.awards__game-item.beatenHardcore::after,
.awards__game-item.beatenSoftcore {
  --icon-url: url(../assets/img/medal.svg);
}

.awards__game-item.completion::after,
.awards__game-item.mastery::after {
  --icon-url: url(../assets/img/trophy.svg);
}

.awards__game-preview {
  width: 60px;
  border-radius: 5px;
  overflow: hidden;
  aspect-ratio: 1;
  grid-row: 1 / 4;
  align-self: center;
}

.console-awards .expand-awards_button {
  background-color: transparent;
  mask-image: url(../assets/img/expand_more.svg);
  background-color: var(--font-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  align-self: center;
  aspect-ratio: 1;
  opacity: 0.5;
  margin-left: 15px;
  transform: scaleY(-1);
  transition: 0.2s;
}

.console-awards.collapsed .expand-awards_button {
  transform: scaleY(1);
}

.expand-awards_button:hover {
  opacity: 1;
}