.awards_section {
  position: absolute;
  top: 30px;
  left: 20%;
  min-width: 300px;
  width: 390px;
  height: 600px;
  min-height: 90px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--main-color);
  visibility: visible;
  opacity: 1;
}

.awards_section.hidden {
  visibility: hidden;
  opacity: 0;
}

.awards_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.awards-header-text {
  flex: 1;
}

.awards-header_container {
  position: sticky;
  top: 0;
  height: auto;
}

.get-awards_button:hover {
  opacity: 1;
}

.get-awards_button:active {
  opacity: 0.8;
  transform: scale(0.9);
  /* transition: 0.2s; */
}

.awards-content_container {
  max-height: 100%;
  overflow: scroll;
}

.console-awards {
  display: grid;
  grid-template-columns: 1fr auto auto;
  /* column-gap: 10px; */
  padding: 10px 15px 10px 15px;
}

.console-awards:nth-child(even) {
  background-color: var(--secondary-color);
}

.awards-console_header {
  padding: 5px 0;
  cursor: pointer;
  overflow: hidden;
}

.console-awards-values {
  display: flex;
  align-items: center;
  gap: 15px;
}

.awarded-games:not(:last-child)::after {
  /* content: " /"; */
}

.awarded-games {
  position: relative;
  padding: 0 0 0 10px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s;
}

.awarded-games:hover {
  transform: scale(1.05);
}

.awarded-games:active {
  transform: scale(0.95);
}

.awarded-games:before {
  --dot-fill-to-color: transparent;
  --dot-border-color: transparent;
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 55%;
  left: 0px;
  transform: translate(0, -50%);
  background-color: var(--dot-fill-to-color);
  border-radius: 50%;
  border: 1px solid var(--dot-border-color);
}

.awarded-games.beaten-softcore:before,
.awarded-games.beaten:before {
  --dot-border-color: gray;
}

.awarded-games.beaten:before {
  --dot-fill-to-color: gray;
}

.awarded-games.completed:before,
.awarded-games.mastered:before {
  --dot-border-color: gold;
}

.awarded-games.mastered:before {
  --dot-fill-to-color: gold;
}

.awarded-games_list {
  grid-column: 1 / 5;
  visibility: visible;
  width: 100%;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.awarded-games_list.hidden {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.awarded-game {
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding: 10px 15px;
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto 1fr;
  transition: 0.2s;
}

.awarded-game.hidden {
  display: none;
}

.console-awards:nth-child(odd) .awarded-game {
  background-color: var(--secondary-color);
  /* background: linear-gradient(to right, var(--secondary-color), transparent); */
}

.console-awards:nth-child(even) .awarded-game {
  background-color: var(--main-color);

  /* background: linear-gradient(to right, var(--main-color), transparent); */
}

.awarded-game:hover {
  box-shadow: 0 2px 7px 0px #000000a1;
  transform: scale(1.05);
  transition: 0.2s;
}

.awarded-game::after {
  --dot-fill-to-color: transparent;
  --dot-fill-from-color: transparent;
  --dot-border-color: transparent;
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.5;
  background-image: radial-gradient(circle,
      var(--dot-fill-from-color),
      var(--dot-fill-to-color));
  border: 2px solid var(--dot-border-color);
  background-color: var(--dot-fill-to-color);
  box-shadow: 0 0 10px 1px var(--dot-fill-to-color) inset;
  box-shadow: 0 0 5px 2px var(--dot-fill-to-color);
  transition: 0.2s;
}

.awarded-game:hover::after {
  opacity: 1;
  transition: opacity 0.2s;
}

.awarded-game.beatenSoftcore::after {
  --dot-border-color: gray;
}

.awarded-game.beatenHardcore::after {
  --dot-fill-from-color: rgb(255, 255, 255);
  --dot-fill-to-color: gray;
  filter: blur(0.5px);
}

.awarded-game.completion::after {
  --dot-border-color: gold;
}

.awarded-game.mastery::after {
  --dot-fill-from-color: rgb(250, 255, 174);
  --dot-fill-to-color: gold;
  filter: blur(0.5px);
}

.game-title {
  padding: 0;
}

.awarded-game-preview {
  width: 60px;
  border-radius: 5px;
  overflow: hidden;
  aspect-ratio: 1;
  grid-row: 1 / 4;
  align-self: center;
}

.console-awards .expand-awards_button {
  background-color: transparent;
  mask-image: url("../assets/img/expand_more.svg");
  -webkit-mask-image: url("../assets/img/expand_more.svg");
  background-color: var(--font-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  align-self: center;
  aspect-ratio: 1;
  opacity: 0.5;
  margin-left: 15px;
  transform: scaleY(-1);
  transition: 0.2s;
}

.console-awards.collapsed .expand-awards_button {
  transform: scaleY(1);
}

.expand-awards_button:hover {
  opacity: 1;
}