/**---------[ Section Style ]--------------*/

.section {
    --background-gradient: linear-gradient(to right,
            var(--main-color),
            var(--main-color));
    position: absolute;
    min-width: 300px;
    width: 400px;
    min-height: 10rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    visibility: visible;
    border-radius: var(--border-radius);
    user-select: none;
    opacity: 1;
    /* background: var(--background-gradient); */
    background: var(--main-color);
    z-index: 1;
    transition-property: opacity, box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.section.disposed {
    display: none !important
}

.section.dragable {
    z-index: 101;
}

.section.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.section:hover,
.section.focus {
    z-index: 10;
    box-shadow: 0 0 5px 0 black;
}

.section.resized {}

.popup-section {
    z-index: 11;
}

.game-data__section {
    max-width: 30rem;
    width: max-content !important;
    height: max-content !important;
}

/**---------FULSCREEN_MODE----------- */
.section.fullscreen {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 2 !important;
}

.section.fullscreen .fullscreen-button svg {
    opacity: 1 !important;
}

.section.fullscreen .resizer {
    display: none !important;
}

/**--------[ Header Style ]---------------*/
/* .section:not(:hover) .tweak-button {
    opacity: 0;
} */


.header-container {
    /* --font-color: var(--main-color); */
    position: relative;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--secondary-color);
    /* font-weight: bold; */
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-bottom: 1px solid var(--main-color);
    font-family: system-ui;
    /* margin-bottom: 0.2rem; */
}

.section.compact-header .header-container {
    position: absolute;
    width: fit-content;
    display: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 2px 0px var(--accent-color);
    z-index: 2;
}

.section.compact .header-container {
    display: none;
}

.section .header-container.fixed {
    display: flex;
}

.content-container {
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    z-index: 1;
}

.widget-content__container {
    display: flex;
    flex: 1;
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    z-index: 1;
}

.hide-bg:not(:hover) .content-container {
    background-color: transparent;
}

.achievements_section .header-container {
    display: none;
}

.section:not(.resized):hover .header-container,
.section:hover.compact-header .header-container {
    display: flex;
}



/* .section .header-container {
    display: none;
} */

.widget-header-text {
    color: var(--font-color);
    text-align: center;
    /* padding: 5px; */
    /* font-weight: bold; */
    font-size: 1.2rem;
    flex: 1;
}

.header-icon.hidden {
    display: none;
}

.header-button {
    background-color: transparent;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s, scale 0.2s;
}

.header-button:hover {
    opacity: 1;
}

.header-button:active {
    scale: 0.9;
}

.header-settings_button svg {
    padding: 3px;
}

.hidden-header-buttons {
    position: absolute;
    z-index: 10;
    right: 0.25rem;
    top: 0.25rem;
    padding: 2px 0.5rem;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    display: flex;
    opacity: 0;
}

.section:hover .hidden-header-buttons {
    opacity: 1;
}

/**---------[ Resizer ]---------------------------- */
.resizer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 0px;
    aspect-ratio: 1;
    border-radius: 0 0 var(--border-radius) 0;
    background-color: transparent;
    cursor: nwse-resize;
    transition: width 0.1s;
    z-index: 2;
}

.section:hover .resizer {
    width: 15px;
    border: 2px solid var(--accent-color);
    border-top: none;
    border-left: none;
}

.section:hover .resizer:hover {
    width: 25px;
}

.section:hover .resizer:active {
    width: 25px;
    border-color: var(--accent-color);
}

/** Scrollable */
.scrollable {
    scrollbar-width: auto;

}

.scrollable::-webkit-scrollbar {
    width: auto;
    height: auto;
}

.scrollable::-webkit-scrollbar-track {
    background: var(--secondary-color);
    cursor: default;
}

.scrollable::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 3px;
    cursor: default;
}

.scrollable::-webkit-scrollbar-thumb:hover {}

/**---------[ Input Styles ]-----------------------*/

.setting-radio-group input[type="radio"],
.setting-radio-group input[type="checkbox"] {
    display: none;
}

.box-3d {
    margin-top: 0px;
    margin-left: 0px;
    box-shadow: var(--box-shadows);
}

.box-3d:hover {
    margin-top: 2px;
    margin-left: 2px;
    box-shadow: var(--box-shadow-hover);
}

.box-3d:active {
    margin-top: 4px;
    margin-left: 4px;
    box-shadow: 0 0 0;
}

.button-input {
    display: flex;
    align-items: center;
    color: var(--font-color);
    background-color: var(--secondary-color);
    border: 1px solid transparent;
    padding: 2px 10px;
    border-radius: var(--border-radius);
    transition: .2s;
}

.button-input:hover {
    background-color: var(--accent-color);

}

.button-input:active {
    transform: scale(0.98);
}

.checkbox-input_container {}


.checkbox-input {
    display: block;
    position: relative;
    text-wrap: nowrap;
    padding: 2px 15px;
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: .2s;
}

.checkbox-input:hover {
    background-color: var(--accent-color);

}

.statebox[data-state="1"],
input:checked+.checkbox-input {
    background-color: var(--accent-color);
    color: var(--font-color);
    padding-left: 30px;
}

.statebox[data-state="-1"] {
    background-color: crimson;
    color: white;
    padding-left: 30px;
}

.statebox[data-state="1"]::before,
input:checked+.checkbox-input::before {
    content: "";
    position: absolute;
    height: 80%;
    aspect-ratio: 1;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    mask-image: url(../assets/img/check.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--font-color);
}

.statebox[data-state="-1"]::before {
    content: "";
    position: absolute;
    height: 80%;
    aspect-ratio: 1;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    mask-image: url(../assets/img/close.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: white;
}

.text-input {
    padding: 2px 15px;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    font-size: inherit;
    color: inherit;
    min-width: 5rem;
    border: 1px solid var(--secondary-color);
    text-align: center;
    transition: 0.2s;
}

.header-container .text-input {
    padding: 0 1rem;
}

[type="number"].text-input {
    width: 5rem;
}

.text-input::placeholder {
    color: inherit;
    opacity: 0.5;
}

.text-input:hover,
.text-input:focus {
    border-color: var(--accent-color);
}

.select-button {
    position: relative;
    color: var(--font-color);
    background-color: var(--secondary-color);
    border: 1px solid transparent;
    padding: 2px 10px;
    padding-right: 30px;
    border-radius: var(--border-radius);
    transition: .2s;
}

.select-button:hover,
.select-button.extended {
    background-color: var(--accent-color);
}

.select-button::before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    transform: translateY(calc(-50% + 3px));
    width: 0px;
    height: 0px;
    top: 50%;
    right: 10px;
    border: 5px solid;
    border-color: var(--font-color) transparent transparent transparent;

    background-color: transparent;
}

.select-menu {
    display: none;
    position: absolute;
    transform: translateX(0%);
    top: -20px;
    left: calc(100% + 5px);
    flex-direction: column;
    background-color: var(--main-color);
    text-align: left;
    z-index: 2;
    border-radius: var(--border-radius);
}

.extended>.select-menu {
    display: flex;

}

/** ----[ TOOLTIP ]--------- */

.popup {
    position: absolute;
    max-width: 25rem;
    width: 25rem;
    /* width: fit-content; */
    margin: 1px;
    padding: 8px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;

    background-color: var(--main-color);
    /* background: linear-gradient(to top left,
        var(--main-color),
        var(--secondary-color)); */
    box-shadow: 0 0 2px 0 black;

    border-radius: var(--border-radius);
    overflow: hidden;

    visibility: hidden;
    opacity: 0;
    font-size: 1.0rem;
    z-index: 1000;
    transition: opacity 0.2s;
}

.popup.hint {
    width: auto;
    min-width: 10rem;
}

.popup.hint::before {
    display: none;
}

.popup h3 {
    position: relative;
    font-size: 1.15rem;
    font-weight: 500;

}

.popup::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: var(--accent-color);
    box-shadow: 0 0 5px 0px var(--accent-color);
    z-index: 100;
}

.popup.left-side {
    transform: translateX(calc(-100% - 35px));
}

.popup.left-side.top-side {
    transform: translateX(calc(-100% - 35px)) translateY(calc(-90%));
}

.popup.top-side {
    transform: translateY(calc(-90%));
}

/**----------------[ CONTEXT-MENU ]-----------------*/
.context-menu.hidden {
    visibility: hidden;
    opacity: 0;
}

.context-menu {
    visibility: visible;
    opacity: 1;
    position: fixed;
}


.context-submenu {
    left: 20px;
    top: 20px;
    position: absolute;
}

.to-top .context-submenu {
    transform: translateY(calc(-100% + 40px));
}

.context-menu.to-top {
    transform: translateY(-100%);
}

.context-menu.to-left {
    transform: translateX(-100%);
}

.context-menu.to-left.to-top {
    transform: translate(-100%, -100%);
}

.context-submenu,
.context-menu {
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--secondary-color);
    background: linear-gradient(to top left,
            var(--main-color),
            var(--secondary-color));
    box-shadow: 0 0 2px 0 black;
    border-radius: var(--border-radius);
    /* overflow: hidden; */
    font-size: 1.15rem;
    min-width: 150px;
    width: max-content;
    user-select: none;
    z-index: 10000;
}

.context-menu_item {
    --context-font-color: var(--font-color);
    color: var(--context-font-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    position: relative;
    padding: 0 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    text-wrap: nowrap;
}

.context-menu_item.expandable {
    padding: 5px;
}

.context-menu_item.expandable::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 20px;
    aspect-ratio: 1;
    transform: rotateZ(90deg) scaleY(-1) translate(-50%, 0%);
    background-color: var(--context-font-color);
    mask-image: url(../assets/img/expand_more.svg);
    mask-position: center;
    mask-size: cover;
}

.context-menu_item:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-bottom: none;
}

.context-menu_item:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.context-menu_item:hover {
    --context-font-color: black;
    background-color: var(--accent-color);
}

.context-menu_item-menu {
    display: none;
    position: absolute;
    left: calc(100% - 5px);
    top: 0px;
    z-index: 2;
}

.context-menu_item:hover>.context-menu_item-menu {
    display: flex;
}

.context-menu_button {
    /* display: block; */
    width: 100%;
    /* font-family: inherit; */
    font-size: inherit;
    text-align: left;
    color: inherit;
    background-color: transparent;
    padding: 5px 0;
}

.context-menu_statebox,
.context-menu_checkbox,
.context-menu_radio {
    position: relative;
    display: block;
    width: 100%;
    font-size: inherit;
    cursor: pointer;
    padding: 5px 0px 5px 15px;
}

.context-menu_statebox::after,
input[type="checkbox"]+.context-menu_checkbox::after,
input[type="radio"]+.context-menu_radio::after {
    position: absolute;
    content: "";
    width: 1.15rem;
    aspect-ratio: 1;
    left: 3px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--font-color);
    opacity: 0.8;
    mask-size: cover;
}

.context-menu_statebox[data-state="0"]::after,
input[type="checkbox"]+.context-menu_checkbox::after {
    mask-image: url(../assets/img/check_box_outline.svg);
}

.context-menu_statebox[data-state="1"]::after {
    mask-image: url(../assets/img/positive-box.svg);
}

input[type="checkbox"]:checked+.context-menu_checkbox::after {
    mask-image: url(../assets/img/check_box_FILL.svg);
}

.context-menu_statebox[data-state="-1"]::after {
    mask-image: url(../assets/img/nagative-box.svg);
    /* background-color: crimson; */
}

input[type="radio"]+.context-menu_radio::after {
    mask-image: url(../assets/img/radio_button_unchecked.svg);
}

input[type="radio"]:checked+.context-menu_radio::after {
    mask-image: url(../assets/img/radio_button_checked.svg);
}

.context-menu_statebox:hover::after,
.context-menu_item:hover>.context-menu_checkbox::after,
.context-menu_item:hover>.context-menu_radio::after {
    background-color: var(--context-font-color);
}

.context-menu_input-number,
.context-menu_text-input {
    flex: 1;
    position: relative;
    border-radius: 4px;
    border: 1px solid var(--context-font-color);
    color: inherit;
    background-color: transparent;
    text-align: center;
    font-size: 1rem;
    width: 50px;
    margin: 5px 0;
}

.context-menu_item ::placeholder,
.context-menu_item a,
.context-menu_item a:hover {
    background-color: transparent;
    color: var(--context-font-color);
}


/** ---------LISTS------- */
.flex-row {
    display: flex;
    justify-content: space-evenly;
}

.flex-main-list {
    padding: 5px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1px;
    transition: none;
    flex: 1;
}

.flex-column-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 1rem;
    padding: 1rem;

}

.game-props__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-column-item,
.cheevo-column-item {
    position: relative;
    flex-grow: 1;
    padding: 0.5rem 0.8rem;
    overflow: hidden;
    border-radius: 1px;
    border: 1px solid transparent;
}

.flex-main-list .main-column-item:hover,
.cheevo-column-item:hover {
    border-color: var(--accent-color);
    background-color: var(--selection-color) !important;
    transition: 100ms;
    z-index: 1;
}

.main-column-item.right-bg-icon:after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to bottom right, transparent, var(--mark-color));
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-image: var(--icon-url);
    z-index: 0;
}

.icons-row-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    align-items: center;
    width: 100%;
}

.achievement__header {
    font-size: 1.1rem;
    white-space: nowrap;
    text-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
}