section.section.games_setion {
  width: 500px;
  top: 20px;
  left: 0;
  height: 600px;
  display: flex;
  flex-direction: column;
  /* min-width: 800px; */
  min-height: 400px;
  z-index: 1;
}

section.section.games_setion:hover {
  z-index: 2;
}

.games_container {
  width: 100%;
  position: relative;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.games__filter-container {
  position: relative;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  max-height: 100%;
  gap: 0.5rem;
}

.games__filter-header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.games__filters-header {
  font-size: 1.1rem;
  text-align: left;
  padding: 0.2rem;
}

.games__show-filters-button {
  position: absolute;
  top: 0;
  right: 2rem;
  height: 2rem;
  aspect-ratio: 1;

}

.games__filters-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex: 1;
  overflow: scroll;
}

.filter-list__platform-header {
  width: 100%;
}

.platform_game-item.header>* {
  border-right: 1px solid var(--secondary-color);
  overflow: hidden;
  text-align: center;
  width: auto;
  height: 1.5rem;
}

.platforms-list_item.expanded .expand-games_button {
  transform: scaleY(-1);
}

.platform-list {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 2rem;
  height: 100%;
  transition: 0.2s;
  /* background: linear-gradient(to left, var(--main-color), var(--secondary-color)); */
}

.games__load-button {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--accent-color);
  opacity: 0.6;
  mask-image: url(../assets/img/autorenew.svg);
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: 0.2s;
}

.games__load-button:hover {
  transform: translate(-50%, -50%) scale(1.05);
  opacity: 1;

}

.games__load-button:active {
  transform: translate(-50%, -50%) scale(0.95);
  opacity: 0.95;
}

.platform_game-item.header {
  position: sticky;
  background-color: var(--secondary-color);
  top: 0;
  border-radius: 0;
  z-index: 1;
  transition: 0.2s;
}

.header__game-description:hover {
  /* background-color: var(--main-color); */
  cursor: pointer;
  text-decoration: underline;
}

.header__game-description.active::before {
  content: '';
  display: inline-block;
  height: 1rem;
  aspect-ratio: 1;
  background-color: var(--font-color);
  transform: scaleY(1);
  mask-image: url(../assets/img/straight.svg);
  mask-position: center;
  mask-size: contain;
}

.header__game-description.active.reverse::before {
  transform: scaleY(-1);
}

.platform-list::-webkit-scrollbar {
  width: auto;
  height: auto;
}

.platform-list::-webkit-scrollbar-track {
  background: var(--secondary-color);

}

.platform-list::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 3px;
}

.platform-list::-webkit-scrollbar-thumb:hover {}

.platform_game-item {
  width: 100%;
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  transition: 0.2s;
  border-bottom: 1px solid var(--secondary-color);
  border: 1px solid transparent;
  transition: 50ms;
  /* overflow: hidden; */
}

.platform_game-item:nth-child(even) {
  background-color: var(--secondary-color);
}

.platform_game-item:hover {
  border-color: var(--accent-color);
  background-color: var(--selection-color);
}


.game-preview_image {
  padding: 1px;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
  display: none;
}

.game-description_title {
  height: 100%;
  font-weight: bold !important;
}

.game-description__info {
  font-size: 0.9rem;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  white-space: none;
}

.game-description__info * {
  text-wrap: nowrap;
  white-space: none;
}

.game-description_button {
  position: relative;
  background-color: transparent;
  font-size: 1.1rem;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  color: var(--font-color);
}

.game-description_button:hover {
  text-decoration: underline;
}


.game-description_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.game-description.award-type {
  text-transform: capitalize;
}

.game-description__links {
  display: flex;
  column-gap: 0.2rem;
  justify-content: center;
}

.game-description_link[disabled] {
  pointer-events: none;
  opacity: 0.2;
  /* background-color: red; */
}

.game-description_block {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 20px;

}


.platform_game-item.expanded .expand-button {
  transform: scaleY(-1);

}

.game-description {
  position: relative;
  text-align: center;

}

/**-----------------[ SEARCHBAR ]   ---------------------*/


.games__searchbar {
  flex: 1;
  padding: .2rem 1rem;
  font-size: 1rem;
  color: var(--font-color);
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  /* text-transform: uppercase; */
  transition: .2s;
}

.games__searchbar.empty:not(:focus) {
  border: 1px solid var(--secondary-color);
}

.popup.game-info__popup {
  max-width: 500px;
}