#games_section {
    width: 500px;
    top: 20px;
    left: 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    min-width: 450px;
}

.games_container {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.platforms-list_container {
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    overflow-y: scroll;
}

.platforms-list_item {
    --header-height: 50px;
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;


}

.platforms-list_item.expanded {
    height: 100%;
}

.platforms-list_item:not(.expanded) .platform-list {
    display: none;
}

.platforms-list_item:nth-child(even) {

    background-color: var(--secondary-color);
}

.platforms-list_header-container {
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.platform-name {
    line-height: var(--header-height);
    font-weight: 600;
    font-size: 1.1rem;
    flex: 1;
    padding: 10px 0;
    cursor: pointer;
}

.games-searchbar {
    background-color: transparent;
    color: var(--font-color);
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--font-color);
    text-align: center;
    display: none;
}

.games-searchbar::placeholder {
    color: var(--font-color);
}

.expanded .games-searchbar {
    opacity: .5;
    display: block;
    transition: .2s;
}

.games-searchbar:focus {
    opacity: 1;
}

.expand-games_button {
    mask-image: url(../assets/img/expand_more.svg);
    -webkit-mask-image: url(../assets/img/expand_more.svg);
    background-color: var(--font-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    aspect-ratio: 1;
    opacity: 0.5;
    margin-left: 15px;
    transform: scaleY(1);
    transition: 0.2s;
}

.platforms-list_item.expanded .expand-games_button {
    transform: scaleY(-1);
}

.platform-list {
    max-height: calc(100% - 60px);
    width: 100%;
    max-width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    overflow-x: visible;
    overflow-y: scroll;
}


.platform_game-item {
    flex-basis: calc(33% - 20px);
    flex-grow: 1;
    padding: 10px 15px;
    border-radius: 5px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 60px 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    transition: 0.2s;
}

.platform_game-item:hover {
    box-shadow: 0 2px 7px 0px #000000a1;
    transform: scale(1.01);
}

.platforms-list_item:nth-child(even) .platform_game-item {

    background-color: var(--main-color);
}

.game-preview_container {
    width: 100%;
    aspect-ratio: 1;
    grid-row: 1 / 3;
}

.game-preview_image {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
}

.game-description_button {
    background-color: transparent;
    font-size: 1.1rem;
    color: var(--font-color);
    text-align: left;
    border-radius: 2px;
    padding: 0 3px;
}

.game-description_button:hover {
    background-color: var(--font-color);
    color: var(--main-color);
}

.game-description_container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.game-description_block {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;

}

.game-description_icon {
    position: relative;
    padding-left: 1.4rem;
    text-align: top;
    border-radius: 2px;
    transition: .2s;
}

.game-description_block a.game-description_icon {
    display: block;
    height: 100%;
    aspect-ratio: 1;
    background-color: transparent;
}

.game-description_block a.game-description_icon:hover {
    background-color: var(--font-color);
}


.game-description_icon:hover {
    background-color: var(--font-color);
    color: var(--main-color);

}

.game-description_icon::before {
    content: "";
    width: 1.0rem;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(calc(-50% + 2px));
    background-color: var(--font-color);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

a.game-description_icon::before {
    height: 100%;
    padding: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a.game-description_icon:hover::before {}

.game-description_icon:hover::before {
    background-color: var(--main-color);
}

.achievements-count::before {
    mask-image: url(../assets/img/star.svg);
}

.points-count::before {
    mask-image: url(../assets/img/points.svg);
}

.leaderboards-count::before {
    mask-image: url(../assets/img/leaderboard.svg);
}

.game-description_ra-icon::before {
    mask-image: url(../assets/img/link2.svg);
}

.game-description_download-link::before {
    mask-image: url(../assets/img/download.svg);
}

.game-description_ra-forum::before {
    mask-image: url(../assets/img/forum.svg);
}