/* Section for the game card */
.game-card_section {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  max-height: 100vh;
  overflow: hidden;
}
.game-card_section.hidden {
}

.game-card_container {
  width: 100%;
  height: auto;
  background-color: #171717;
}

.game-card-info_container {
  width: 100%;
}

.game-card-image {
  display: block;
  max-height: 450px;
  width: auto;
  margin: auto;
  overflow: hidden;
}

.game-card-image img {
  width: 100%;
  max-height: 90%;
  user-select: none;
}

.game-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid white;
}

.game-card-info:nth-child(even) {
  background-color: #111;
  z-index: 2;
}
