/* Section for the game card */
.section.game-card_section {
  top: 10px;
  left: 70%;
  width: 300px;
  max-height: 100vh;
  min-width: 250px;
  min-height: 200px;
  cursor: grab;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.game-card_section::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, transparent 50%, rgba(255, 255, 255, 0.02) 50%, rgba(255, 255, 255, 0.001));
  z-index: 2;
  border-radius: var(--border-radius);
  pointer-events: none;
}

.game-card-header {
  text-align: center;
}

.game-card_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.game-card_container.content-container {
  background: transparent;
  border-radius: 0;
}

.game-card_image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: normal;
  overflow: hidden;
  z-index: 2;
}

.game-card__icons-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  /* background: rgba(0, 0, 0, 0.5); */
  z-index: 1;
}

/* .game-card__icons-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(1.5px);
} */

.game-info-header.game-card__icon-block {
  position: relative;
  --font-color: white;
  color: var(--font-color);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.1rem;
  font-weight: 400;
  background: black;
  padding: 2px 5px;
  border-radius: 5px;
}

.game-card__title-container {
  position: relative;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.25rem 1rem;
  text-align: justify;
  border-radius: 0;
}

.game-card__info.game-card__genres-container {
  width: 100%;
  overflow-x: scroll;
  font-size: 1.2rem;
  padding: 0.25rem 1rem;
  text-wrap: nowrap;
  white-space: nowrap;
}

.game-card__info.game-card__genres-container:empty {
  padding: 0;
}


.game-card__info {
  font-size: 1.1rem;
}

.game-card__footer {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  text-align: left;
  /* border-top: 1px solid var(--accent-color); */
}

.game-card__title-container::after,
.game-card__title-container::before {
  content: "";
  position: absolute;
  width: 3rem;
  aspect-ratio: 1;
  background-color: var(--award-color);
  mask-image: var(--award-icon-url);
  mask-size: contain;
  mask-position: bottom;
  mask-repeat: no-repeat;
  top: 0;
  z-index: -2;

}

.game-card_section {
  --mastered-width: 0rem;
}

[data-award="mastered"],
[data-award="completed"] {
  --mastered-width: 3rem
}

[data-award="completed"] .game-card__title-container::after,
[data-award="mastered"] .game-card__title-container::after {
  right: 0;
  --award-icon-url: url(../assets/img/trophy.svg);
}

[data-progression-award="beaten-softcore"] .game-card__title-container::before,
[data-progression-award="beaten"] .game-card__title-container::before {
  --award-icon-url: url(../assets/img/medal.svg);
  right: var(--mastered-width);
}

[data-award="completed"] .game-card__title-container::after,
[data-progression-award="beaten-softcore"] .game-card__title-container::before {
  --award-color: silver;
}

[data-progression-award="beaten"] .game-card__title-container::before,
[data-award="mastered"] .game-card__title-container::after {
  --award-color: gold;
}


.game-card_image {
  width: 100%;
  object-position: center;
  object-fit: cover;
  object-position: center;
  image-rendering: auto;
  /* border-radius: var(--border-radius); */
  pointer-events: none;
}

.hor-line-decorate {
  height: 5px;
  background-color: var(--accent-color);
  box-shadow: 0 0 3px 0px var(--accent-color);
  z-index: 1;
  /* animation: decor-line-anim 20s linear infinite; */

}

@keyframes decor-line-anim {
  0% {
    box-shadow: 0 0 3px 0px var(--accent-color);
  }

  80% {
    box-shadow: 0 0 3px 0px var(--accent-color);
  }

  90% {
    box-shadow: 0 0 5px 2px var(--accent-color);
  }

  100% {
    box-shadow: 0 0 3px 0px var(--accent-color);
  }
}

.game-card-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  /* border-top: 1px solid rgba(255, 255, 255, 0.13); */
}

.game-card-info:not(:last-child):after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: linear-gradient(to right, transparent, var(--font-color), transparent);
}

.game-card-info.hidden {
  display: none;
}

/* .game-info-header {
  margin-right: 10px;
  font-weight: 500;
} */

.game-card-text {
  text-align: end;
  font-size: 1.1rem;
}

.game-card-info:first-child {
  border-top: none;
  z-index: 2;
}