#help_section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 500px;
  overflow: hidden;
  background-color: #171717;
  box-shadow: 0 0 20px 20px black;
  z-index: 100;
}

.help-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;
  border: 1px solid transparent;
  transition: 0.2s;
}

.help-container:active {
  border: 1px solid green;
  transition: 0.2s;
}

.help-header {
  flex: 1;
}

.help-content {
  font-size: 1.1rem;
  line-height: 2rem;
  padding: 20px;
  text-align: justify;
}
.help-content a {
  color: green;
}
