#help_section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  overflow: hidden;
  background-color: var(--main-color);
  z-index: 10000;
}

.help-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;
  border: 1px solid transparent;
  transition: 0.2s;
  max-height: 400px;
}

.help-container:active {
  border: 1px solid green;
  transition: 0.2s;
}

.help-header {
  flex: 1;
}

.help-content {
  font-size: 1.1rem;
  line-height: 2rem;
  padding: 20px;
  text-align: justify;
}
.help-content a {
  background-color: var(--font-color);
  color: var(--main-color);
  text-decoration: underline;
}
.help_section.changelog {
  left: 50%;
  top: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  font-size: 1.15rem;
}
.changelog-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid var(--font-color);
  overflow-y: scroll;
}
.changelog-list li {
  list-style-type: disc;
  margin-left: 20px;
  z-index: 10000;
}
