/* *-----------------BADGES----------- */
.badge {
    --badge-font-color: black;
    --badge-bg-color: lime;
    display: inline;
    padding: 0 0.25rem;
    border-radius: 3px;
    background-color: var(--badge-bg-color);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    color: var(--badge-font-color);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
    flex-shrink: 0;
}

.badge-button {
    cursor: pointer;
    transition: color .2s, background-color .2s;
}

.badge-button:hover {
    background-color: var(--badge-font-color);
    color: var(--badge-bg-color);
}

.badge_transparent.badge-button:hover {
    background-color: var(--badge-font-color);
    color: var(--main-color);
}

.badge-centered {
    display: flex;
    align-items: center;
    width: fit-content;
    line-height: 1;
    padding: 0.15rem 0.25rem;
}

.badge.badge-bold {
    font-weight: 700;
}

.badge_green {
    --badge-bg-color: lime;
}

.badge_gold {
    --badge-bg-color: goldenrod;
    --font-color: var(--badge-font-color);
}

.badge_transparent {
    --badge-bg-color: var(--selection-color);
    --badge-font-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    /* test */
    font-weight: normal;
    font-size: 1rem;
    border: 1px solid gray;
    background: #4d4d4d5e;
    color: var(--font-color);
    font-size: 1rem;
}


.badge_black {
    font-weight: normal;
    --badge-bg-color: black;
    --badge-font-color: white;
    padding: 1px 0.25rem;
}

.badge_cheevo-genre {
    --badge-bg-color: : crimson;
}

.highlight-badge {
    --badge-bg-color: greenyellow;
    --badge-font-color: black;
    font-size: inherit;
    font-weight: inherit;
    text-transform: none;
}

/** Title badges */

.game-title_original {
    display: none;
}

.game-title_genre,
.badge_grey {
    --badge-bg-color: darkslategray;
    --badge-font-color: white;
}

.game-title_hack {
    --badge-bg-color: crimson;
}

.game-title_unlicensed {
    --badge-bg-color: gold;
}

.game-title_homebrew {
    --badge-bg-color: cyan;
}

.game-title_prototype {
    --badge-bg-color: white;
}

.game-title_demo {
    --badge-bg-color: chocolate;
}

.game-title_mastered {
    --badge-bg-color: gold;
}

.game-title_completed {
    --badge-bg-color: rgba(255, 217, 0, 0.473);
}

.game-title_beaten-hardcore {
    --badge-bg-color: grey;
}

.game-title_beaten-softcore {
    --badge-bg-color: rgba(128, 128, 128, 0.281);
}





/** ICONS  */
.svg-icon {
    fill: var(--font-color);
    height: 1em;
    width: 1em;
}

.description-icon {
    display: inline-block;
    position: relative;
    height: 1em;
    aspect-ratio: 1;
    background-color: var(--font-color);
    /* background-color: var(--badge-font-color); */
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    transition: background-color .2s;
}

.image-icon {
    height: 1em;
    display: inline-block;

}

.image-icon.console-icon {
    margin-bottom: -0.2em;
}

.cheevo-genre__icon {
    font-size: inherit;
    margin-left: 0.15rem;
    text-align: center;
}

.signed-icon {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    font-size: inherit;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
}

.icon-button,
.icon-button:hover {
    display: grid;
    place-items: center;
    padding: 2px;
    /* background-color: transparent; */
}

.side-panel__icon {
    display: inline-block;
    position: relative;
    height: var(--button-height);
    aspect-ratio: 1;
    background-color: var(--font-color);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: var(--icon-source);
}

.game-description_link {
    padding: 0;
    background-color: transparent;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    border-radius: 2px;
}

.game-description_link:hover {
    background-color: var(--font-color);
}

:hover>.link_icon {
    background-color: var(--secondary-color);
}

.description-icon .link-icon {
    background-color: var(--secondary-color);
}


.games__icon-button {
    font-size: 1.4rem;
    width: 20px;
    aspect-ratio: 1;
    align-self: center;
    justify-self: center;
}

.delete-icon {
    mask-image: url(../assets/img/delete.svg);
}

.q-icon {
    mask-image: url(../assets/img/help.svg);
}

.difficult-icon {
    mask-image: url(../assets/img/award-mastered.svg);
    scale: 1.05;
}

.info-icon {
    mask-image: url(../assets/img/info.svg);
}

.win_condition {
    mask-image: url(../assets/img/win-condition.svg);
}

.missable {
    /* scale: 1.05; */
    mask-image: url(../assets/img/missable_ra.svg);
}

.map-icon {
    height: 1.2em;
    background-color: black;
    margin-bottom: -0.2rem;
    mask-image: url(../assets/img/flag.svg);
    mask-position: bottom;
}

.progression {
    scale: 1.05;
    mask-image: url(../assets/img/progression.svg);
}

.game-info-icon {
    mask-image: url(../assets/img/article.svg);
}

.rarity-icon {
    mask-image: url(../assets/img/diamond.svg);
}

.ps-rarity-icon {
    mask-image: url(../assets/img/rarity-1.svg);
}

.ps-rarity-icon.rare {
    mask-image: url(../assets/img/rarity-2.svg);
}

.ps-rarity-icon.very-rare {
    mask-image: url(../assets/img/rarity-3.svg);
}

.ps-rarity-icon.ultra-rare {
    mask-image: url(../assets/img/rarity-4.svg);
}

.checked.favourite_icon {
    opacity: 0.5;
    mask-image: url(../assets/img/favorite.svg);
}

.favourite_icon {
    mask-image: url(../assets/img/favorite_border.svg);
}

.mastered_icon {
    mask-image: url(../assets/img/award-mastered.svg);
}

.beaten-hardcore_icon {
    mask-image: url(../assets/img/award-beaten.svg);
}

.completed_icon {
    mask-image: url(../assets/img/award-completed.svg);
}

.beaten-softcore_icon {
    mask-image: url(../assets/img/award-beaten-soft.svg);
}

.started_icon {
    mask-image: url(../assets/img/more_horiz.svg);
}

.award-type__icon {
    height: 1.2rem;
}

.award_icon {
    mask-image: url(../assets/img/awards.svg);
    opacity: 0.7;
}

.award_icon:hover {
    opacity: 1;
}

.expand_icon {
    mask-image: url(../assets/img/expand_more.svg);
}

.favourite_icon:hover {
    opacity: 1;
    background-color: var(--font-color);
}

.achievements-icon {
    mask-image: url(../assets/img/star.svg);
}

.points-icon {
    mask-image: url(../assets/img/points.svg);
}

.retropoints-icon {
    mask-image: url(../assets/img/bolt.svg);
}

.trending-icon {
    mask-image: url(../assets/img/trending.svg);
}

.leaderboards-icon {
    mask-image: url(../assets/img/leaderboard.svg);
}

.expand_icon {
    margin: auto;
    mask-position: center;
    mask-image: url(../assets/img/expand_more.svg);
}

.search-icon {
    mask-image: url(../assets/img/search.svg);

}


.ra-link_icon {
    mask-image: url(../assets/img/link2.svg);
}

.link-icon {
    mask-image: url(../assets/img/links.svg);
}

.download-icon {
    mask-image: url(../assets/img/download.svg);
}

.forum-icon {
    mask-image: url(../assets/img/forum.svg);
}

.apply-icon {
    mask-image: url(../assets/img/check.svg);
}

.playlist-icon {
    mask-image: url(../assets/img/playlist-play.svg);
}

.sort-icon {
    mask-image: url(../assets/img/sort.svg);
}

.filter-icon {
    mask-image: url(../assets/img/filter.svg);
}

.close-icon {
    mask-image: url(../assets/img/close.svg);
}

.header-icon {
    width: 1.3rem;
    aspect-ratio: 1;
    background-color: var(--font-color);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    flex-shrink: 0;
}

.target-icon {
    mask-image: url(../assets/img/target.svg);
}

.tweak-icon {
    mask-image: url(../assets/img/tune.svg)
}

.close-icon {
    mask-image: url(../assets/img/close.svg)
}

.awards-icon {
    mask-image: url(../assets/img/awards.svg)
}

.update-icon {
    mask-image: url(../assets/img/update.svg)
}

.stats-icon {
    mask-image: url(../assets/img/stats.svg)
}

.status-icon {
    mask-image: url(../assets/img/cardio.svg)
}

.games-icon {
    mask-image: url(../assets/img/gamepad.svg)
}

.fullscreen-icon {
    mask-image: url(../assets/img/fullscreen.svg)
}

.progression-icon {
    mask-image: url(../assets/img/progression-cards.svg)
}

.note-icon {
    mask-image: url(../assets/img/note.svg)
}

.notification-icon {
    mask-image: url(../assets/img/notifications.svg)
}

.settings-icon {
    mask-image: url(../assets/img/settings.svg)
}

.guide-icon {
    mask-image: url(../assets/img/book.svg)
}

.chat-icon {
    mask-image: url(../assets/img/chat.svg)
}

.edit-icon {
    mask-image: url(../assets/img/edit.svg)
}

.discord-icon {
    mask-image: url(../assets/img/discord.svg)
}

.game-stats {
    mask-image: url(../assets/img/game-stats.svg);
}

/** Difficult badges */
.difficult-badge__11 {
    position: relative;
    background-color: #000;
    box-shadow: 0 0 3px 1px #000;
    color: #ff00ff;
    padding: 0 0.5rem;
    /* animation: hell-anim 6s infinite */
}

/* .difficult-badge__11::before {
    content: "[";
}

.difficult-badge__11::after {
    content: "]";
} */

.difficult-badge__hell,
.difficult-badge__10 {
    background-color: #ff00ff;
    box-shadow: 0 0 3px 1px #ff00ff;
    /* animation: hell-anim 6s infinite */
}

.difficult-badge__9 {
    background-color: #ff00ff;
    box-shadow: 0 0 3px 1px #ff00ff;
    /* animation: hell-anim 6s infinite */
}

@keyframes hell-anim {
    0% {
        background-color: #ff00ff;
        box-shadow: 0 0 5px 1px #ff00ff;
    }

    50% {
        background-color: #800080;
        box-shadow: 0 0 5px 1px #800080;
    }

    to {
        background-color: #ff00ff;
        box-shadow: 0 0 5px 1px #ff00ff;
    }
}

.difficult-badge__insane,
.difficult-badge__8 {
    background-color: #f9249c;
    box-shadow: 0 0 3px 1px #f9249c;
}

.difficult-badge__expert,
.difficult-badge__7 {
    background-color: crimson;
}

.difficult-badge__pro,
.difficult-badge__6 {
    background-color: orange;
}



.difficult-badge__standard,
.difficult-badge__5 {
    background-color: greenyellow;
}

.difficult-badge__easy,
.difficult-badge__4 {
    background-color: lime;
}

.version-badge::before {
    position: absolute;
    bottom: 0;
    right: 0.25rem;
    font-size: 0.85em;
    color: white;
    background-color: black;
    padding: 0 0.5rem;
    border-radius: 0.25em;

}

.version-badge__v1::before {
    content: "v1";
}

.version-badge__v2::before {
    content: "v2";
}

.watching:not(.offline) .time__blinked-dots {
    animation-delay: 1s;
    animation: blink-time-dots 5s infinite;
}

@keyframes blink-time-dots {
    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

}