.wii-event_section {
    min-width: 740px;
    min-height: 600px;
    left: 100px;
    top: 100px;

}

.launch__rules-list {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
    background: var(--selection-color);
    column-gap: 0.5em;
}

.launch__summary-line {
    padding: 0.5em 1em;
    background: var(--selection-color);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.wii-event-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wii-event-container>.flex-main-list {
    flex: 1;
}

.event__game-item {
    --percentage: 50%;
}

.event__game-item.main-column-item.right-bg-icon:after {
    content: attr(data-points);
    font-size: 2em;
    /* font-weight: bold; */
    color: var(--ra-progress-color);
    font-weight: bold;
    display: grid;
    place-items: center;
}

.event__game-item>* {
    z-index: 1;
}

.event__game-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--percentage);
    height: 100%;
    background: var(--accent-color);
    opacity: 0.3;
}

.event__accent-text {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--ra-progress-color);
}