.links-list {
    width: 100%;
    gap: 0.5em;
    overflow: hidden;
    flex-direction: column;
}

.links__link-item {
    min-width: 100%;
}

.links__link-container {
    height: 3em;
    padding: 0.25em 0.5em;
    width: 100%;
}

.links__link-image {
    height: 3em;
    aspect-ratio: 1;
    flex-shrink: 0;
    flex-grow: 0;
    object-fit: contain;
    padding: 0.25em;
}