.section.note_section {
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 200px;
    width: 350px;
    height: 300px;
    min-width: 250px;
    min-height: 200px;
}

.note-container {
    position: relative;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.note__tabs-container {
    /* margin: 0 1rem; */
    display: flex;
    gap: 2px;
    align-items: end;
    overflow: hidden;
    /* border-bottom: 1px solid var(--accent-color); */
}

.radio-tab {
    position: relative;
    display: inline-block;
    padding: 0.1rem .4rem;
    margin-top: 0.2rem;
    background-color: black;
    border-radius: 5px 5px 0 0;
    border: 1px solid transparent;
    color: gray;
    transition: 0.2s;
    /* overflow-x: hidden;
    overflow-y: visible; */
}

input:checked+.radio-tab {
    margin-top: 0;
    padding: 0.2rem .5rem;
    border-color: var(--accent-color);
    border-bottom: 1px solid transparent;
    z-index: 2;
    color: white;
}

input:checked+.radio-tab::before,
input:checked+.radio-tab::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 100%;
    width: 3rem;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--accent-color));
    z-index: 0;
}

input:checked+.radio-tab::after {
    background: linear-gradient(to left, transparent, var(--accent-color));
    right: auto;
    left: 100%;
}

.note-textaria {
    background-color: black;
    font-family: consolas, system-ui, sans-serif;
    color: greenyellow;
    text-wrap: wrap;
    width: 100%;
    flex: 1;
    padding: 20px;
    font-size: 1.3rem;
    resize: none;
    border-radius: 0 5px 5px 5px;
}