.section.notification_section {
    top: 100px;
    left: 40%;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    min-width: 300px;
    min-height: 150px;
}

.notification_section.hide-bg:hover {
    background: var(--main-color) !important;
}

.notification_section:not(:hover) {
    box-shadow: 0 0 5px 2px transparent;
}

.notification_section.hide-bg {
    background: transparent !important;
}

.hide-bg .header-container {
    opacity: 0;
}

.hide-bg:hover .header-container {
    opacity: 1;
}

.notification_section.compact .header-container {
    display: none;
}

.notification-container {
    --offset-height: 0px;
    flex-shrink: 0;
    flex: 1;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    /* align-items: center; */
    overflow: scroll;
    margin-top: 0;
}



.notification_timeblock-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    background-color: var(--secondary-color);
    padding: 2px;
    /* border: 2px solid gold; */
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.notification_timeblock-list:hover {
    transform: scale(1.01);
}

.notification_timeblock-list.notification_popup {
    animation: notification_popup-animation 1s ease-out forwards;
}

@keyframes notification_popup-animation {
    0% {
        margin-top: calc(0px - var(--offset-height));
    }

    100% {
        margin-top: 0;
    }
}

.notification_timestamp {
    align-self: center;
    font-size: 0.9rem;
    padding: 0px 20px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    height: 1.4rem;
    display: flex;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}

.compact-timestamp .notification_timestamp,
.notification_timestamp.hidden {
    height: 0;
    opacity: 0;
}

.notification_message {
    padding: 5px;
    background-color: var(--secondary-color);
    font-size: 1rem;
    border-radius: 3px;
    overflow: hidden;
    animation: notification-popup 1s forwards linear;
}

@keyframes notification-popup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.notification-game,
.notification-achiv {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 10px;
    flex-shrink: 0;
    background-color: var(--main-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 8px -5px var(--secondary-color);
    padding: 5px;
}

.notificaton_header {
    grid-column: 1 / 3;
    background-color: rgba(0, 0, 0, 0.747);
    margin: 0 -10px;
    text-align: center;
    color: white;
    top: 0;
}

.notification-container .prev-img {
    filter: none;

}

.notification_details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: stretch;
}

.notification_description-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.notification_description-text {
    font-size: 1rem;
    color: var(--font-color);
    display: flex;
    align-items: center;
    gap: 3px;
}

.notification_description-icon {
    background-color: var(--font-color);
    display: inline-block;
    height: 1rem;
    aspect-ratio: 1;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;



}

.notification_description-icon.players-icon {
    mask-image: url(../assets/img/group.svg);

}

.notification_description-icon.achievements-icon {
    mask-image: url(../assets/img/star.svg);
}

.notification_description-icon.retropoints-icon {
    mask-image: url(../assets/img/bolt.svg);
}