.section.notification_section {
    top: 100px;
    left: 40%;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    min-width: 300px;
    min-height: 150px;
}

.notification_section.hide-bg:hover {
    background: var(--main-color) !important;
}

.notification_section:not(:hover) {
    box-shadow: 0 0 5px 2px transparent;
}

.notification_section.hide-bg {
    background: transparent !important;
}

.hide-bg .header-container {
    opacity: 0;
}

.hide-bg:hover .header-container {
    opacity: 1;
}

.notification_section.compact .header-container {
    display: none;
}

.notification-container {
    --offset-height: 0px;
    flex-shrink: 0;
    flex: 1;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    /* align-items: center; */
    overflow: scroll;
    margin-top: 0;
}



.notification_timeblock-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    background-color: var(--secondary-color);
    padding: 2px;
    /* border: 2px solid gold; */
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.notification_timeblock-list:hover {
    transform: scale(1.01);
}

.notification_timeblock-list.notification_popup {
    animation: notification_popup-animation 1s ease-out forwards;
}

@keyframes notification_popup-animation {
    0% {
        margin-top: calc(0px - var(--offset-height));
    }

    100% {
        margin-top: 0;
    }
}

.notification_timestamp {
    align-self: center;
    font-size: 0.9em;
    padding: 0px 20px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    height: 1.4em;
    display: flex;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}

.compact-timestamp .notification_timestamp,
.notification_timestamp.hidden {
    height: 0;
    opacity: 0;
}

.notification_message {
    padding: 5px;
    background-color: var(--secondary-color);
    font-size: 1em;
    border-radius: 3px;
    overflow: hidden;
    animation: notification-popup 1s forwards linear;
}

@keyframes notification-popup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.notification-game,
.notification-achiv {
    position: relative;
    flex-shrink: 0;
    background-color: var(--main-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 8px -5px var(--secondary-color);
    padding: 0.25em;
}

.notificaton_header {
    grid-column: 1 / 3;
    background-color: rgba(0, 0, 0, 0.747);
    margin: 0 -10px;
    text-align: center;
    color: white;
    top: 0;
}

.notification-container .prev-img {
    filter: none;

}

.media-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    height: fit-content;
    max-height: 6em;
    padding: 0.25em;
    border-radius: 1px;
}

.media-item__preview {
    height: 5em;
    aspect-ratio: 1;
}

.media-item__image {
    height: 100%;
}

.media-item__title {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.media-item__link {}

.media-item__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
}

.media-item__meta {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 0.96em;
    opacity: 0.85;
}

.media-item__award {
    --height: 8em;
    position: absolute;
    --alert-color: green;
    right: calc(0px - var(--height) / 2);
    width: var(--height);
    text-transform: uppercase;
    z-index: 2;
    transform: rotateZ(-90deg) translateY(-50%);
    background: black;
    text-align: center;
    box-shadow: 0 0 200px 20px var(--alert-color);
}

.media-item__award-name {
    font-size: 1.0em;
    color: var(--alert-color);
    font-weight: bold;
}

.media-item__stats {
    font-size: 0.9em;
}