.progression_section.section {
    left: 30%;
    top: 0;
    min-width: 250px;
    width: 300px;
    height: 50%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.progression_section.section.hide-bg:not(:hover) {
    background: transparent;
}

.progression_section .header-container::after {
    display: none;
}

.progression__container {
    --progression-height: auto;
    --height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.progression__list {
    position: relative;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.progression__item {
    position: relative;
    padding: 0 1rem 0 0;
    display: grid;
    grid-template-columns: 4rem 2rem 1fr;
    min-height: var(--progression-height);
    flex-grow: 1;
    flex-basis: 3rem;
    flex-shrink: 0;
}



.progression__item:last-child {
    flex-basis: 0;
}



.mark {
    --mark-color: var(--font-color);
    position: relative;
    left: 50%;
    top: 1.3rem;
    height: calc(100% - 1rem);
    width: 2px;
    background: var(--mark-color);
    overflow: visible;
}



.win_condition-cheevo {
    /* flex-basis: 0; */
    flex-grow: 0;
}

.progression__item:last-child .mark,
.win_condition-cheevo .mark {
    height: 0;
}

.mark.earned {
    --mark-color: var(--accent-color);
}

.mark::after {
    position: absolute;
    content: "";
    transform: translateX(-50%);
    bottom: 100%;
    left: 1px;
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--mark-color);
}

.mark.earned.hardcore::after {
    background: var(--mark-color);
}

.cheevo-date {
    text-align: right;
    font-size: 1rem;
}

.cheevo-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
}

.cheevo-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.cheevo-description {
    display: none;
    font-size: 1.2rem;
}

.focus .cheevo-description,
.show-all-descriptions .cheevo-description {
    display: inline-block;
}

.focus {
    scroll-snap-align: center;

}

.subcheevos-container {
    flex: 1;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 0.5rem;
}

.show-sublevels .subcheevos-container {
    display: flex;
}

.progression__subcheevo {
    position: relative;
    padding-left: 1rem;
}

.progression__subcheevo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.4rem;
    width: 0.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--font-color);
}

.progression__subcheevo.earned::before {
    border-color: var(--accent-color);
}

.progression__subcheevo.hardcore::before {
    background: var(--accent-color);
}