.progression_section.section {
    left: 30%;
    top: 20px;
    min-width: 260px;
    width: 550px;
    min-height: 40px;
    /* background: transparent !important; */
}

.progression_section.section:not(:hover) {
    background: transparent;
}

.progression_section.section:not(:hover) .header-container {
    display: none;
}

.progression_section .header-container::after {
    display: none;
}

.progression_container {
    --height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.horizon_list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    min-width: 250px;
    min-height: calc(30px + var(--height));
}

.horizon_list:empty {
    display: none;
}

.horizon-list_item {
    position: relative;
    margin-bottom: calc(10px - var(--height));
    flex-basis: auto;
    box-shadow: 1px -1px 5px 2px rgba(0, 0, 0, 0.404);
}


.progression-achiv {
    display: none;
    position: relative;
    padding: 8px;
    /* background: linear-gradient(to right bottom, var(--secondary-color), var(--main-color), var(--secondary-color)); */
    background-color: var(--secondary-color);
    width: 250px;
    height: var(--height);
    display: none;

    border-radius: 10px;
    overflow: hidden;
    transition: .2s;
    /* z-index: 1; */
    transition: .2s;
}


.not-earned .progression-achiv:active {
    transform: translate(-80%, 10%) rotateZ(-20deg);
}

.earned .progression-achiv:active {
    transform: translate(80%, 10%) rotateZ(20deg);
}

.horizon_list li:nth-last-child(-n+3) {
    display: grid;
}

.progression-achiv_container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--main-color);

}


.progression-achiv.removed {
    animation: animate-remove .3s ease-out;
}

.progression-achiv.added {
    animation: animate-add .3s ease-out;
}

@keyframes animate-remove {
    0% {
        transform: translate(0, 0) rotateZ(0);
    }

    100% {
        transform: translate(-120%, 5%) rotateZ(-5deg);
        opacity: 0;
    }
}

@keyframes animate-add {
    0% {
        transform: translate(120%, 5%) rotateZ(-5deg);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0) rotateZ(0);
    }


}

.earned .progression-achiv.trophy::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../assets/img/sparkles.gif");
    background-position: center;
    background-size: 200%;
    mix-blend-mode: color-dodge;
}

.progression_descriptions {
    /* position: absolute; */
    flex-shrink: 0;
    width: 100%;
    bottom: 0;
    padding: 2px 0;
    display: flex;
    transform: translateY(00%);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.51);
    color: white;
    gap: 5px;
    border-radius: 10px 10px 0 0;
}

.progression-achiv_prev-container {
    flex-shrink: 1;
    flex-grow: 0;
    position: relative;
    justify-self: center;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 5px 5px black inset;

}

.progression-achiv_prev-img {
    width: 100%;
    object-fit: cover;
    image-rendering: pixelated;

}

.not-earned .progression-achiv_prev-img {
    filter: grayscale(1);
}


.progression_achiv-name {
    margin: 0 -10px;
    color: black;
    font-weight: 800;
    padding: 5px 10px;
    position: relative;
    font-size: 1.3rem;
    text-align: center;
    background: #03a9f4;
    background-size: 400%;
    box-shadow: 0 0px 3px 1px black;
}

.progression_achiv-link:hover {
    background-color: transparent;
    color: black;
}

.earned .progression_achiv-name {

    background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;

}

.earned .progression-achiv:last-child .progression_achiv-name {
    animation: animate 8s linear forwards infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}




.progression-details {
    flex-shrink: 0;
    flex-grow: 1;
    object-fit: contain;
    font-size: 1.1rem;
    justify-self: center;
    text-align: center;
    align-self: center;
    padding: 10px;
    display: flex;
    align-items: center;
}



.progression-description-text {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.progression_achiv-number {
    position: absolute;
    bottom: 5px;
    right: 0;
    justify-self: end;
    background-color: var(--secondary-color);
    padding: 2px 10px;
    font-size: 1.1rem;
    /* transform: rotateZ(-45deg); */
}

.progression_achiv-number::before {
    /* content: ""; */
    position: absolute;
    width: var(--height);
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--font-color);
    z-index: -1;
}

.marker {
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-position: 120% 120%;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    mix-blend-mode: color-dodge;
    opacity: 1;
    animation: none;
    transition: none;
    background-image: linear-gradient(115deg,
            transparent 0%,
            transparent 25%,
            rgba(0, 231, 255, 0.7) 45%,
            rgba(255, 0, 231, 0.7) 55%,
            transparent 70%,
            transparent 100%);

}

.not-earned .marker {
    /* opacity: .5; */
    mix-blend-mode: soft-light;
}

.marker.hidden {
    visibility: hidden;
    background-position: 100% 100%;
}

.earned .progression-achiv:last-child .marker.hidden {
    visibility: visible;
    opacity: 1;
    animation: glass-animation 30s ease-out infinite;
    animation-delay: 2s;
}

@keyframes glass-animation {
    0% {
        background-position: 100% 100%;
    }

    20% {
        background-position: -20% 0%;
    }

    100% {
        background-position: -20% 0%;
    }
}