.prefs_section {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 500px;
  top: 31%;
  left: 1%;
  background-color: var(--main-color);
  z-index: 5;
}
.prefs-header {
  position: relative;
  flex: 1;
  font-size: 1.5rem;
  margin-left: 20px;
}
.prefs-header:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 10px;
  width: 20px;
  aspect-ratio: 1;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" fill="white" viewBox="0 -960 960 960" width="24"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/></svg>'); /* background-attachment: fixed | scroll; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  gap: 5px;
}
.prefs_section label {
  flex: 1;
  display: block;
  line-height: 100%;
  font-size: 1.1rem;
  user-select: none;
}

.prefs_section .input,
.setting-button {
  position: relative;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid rgb(71, 71, 71);
  text-align: center;
  line-height: 100%;
  transition: 0.2s;
}

.prefs_section .input:focus {
  border-color: green;
  background-color: black;
}
.prefs_section .input:not(.target-user):placeholder-shown {
  border-color: red;
}

.number-input {
  width: 4rem;
  padding: 10px;
}

.setting-button:hover {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 2px black;
  cursor: pointer;
  transition: 0.2s;
}
.setting-button:active {
  transform: scale(0.95);
  box-shadow: 1px 0px 5px 4px black;

  transition: 0.2s;
}
.setting-button.checked {
  background-color: black;
}
.setting-button.checked::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: green;
  top: 2px;
  right: 2px;
}

#game-achivs-count::after {
  content: " achieves availible";
}

.settings_container > div {
  padding: 7px 20px;
}
.settings_container > div:nth-child(even) {
  background-color: var(--secondary-color);
}
.color-input {
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  width: 3rem;
}
