.prefs_section {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 500px;
  top: 20%;
  right: 10%;
  background-color: #111;
  z-index: 2;
}

.prefs-header-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  /* padding: 5px; */
}
.prefs-header {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  border-bottom: none;
  font-size: 1.5rem;
}
.prefs-header svg {
  fill: white;
  padding: 2px;
}
.close-settings-button {
  display: flex;
}
.close-settings-button,
.game-card-close_button,
.clear-all-target {
  position: relative;
  cursor: pointer;
}

.close-settings-button svg,
.clear-all-target svg,
.paste-api-key svg,
svg {
  fill: white;
  opacity: 0.5;
  padding: 1px;
  transition: 0.2s;
}
.close-settings-button:hover svg,
.clear-all-target:hover svg,
.achiv-block .add-to-target:hover svg,
.paste-api-key:hover svg {
  fill: white;
  opacity: 1;
  padding: 0;
  transition: 0.2s;
}
.close-settings-button:active svg,
.clear-all-target:active svg,
.achiv-block .add-to-target:active svg,
.paste-api-key:active svg {
  fill: white;
  opacity: 1;
  padding: 2px;
  transition: 0.2s;
}

.text-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* border-bottom: 1px solid gray; */
}
.text-input,
.number-input,
.apply-settings,
.setting-button {
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: 1px solid #222;
  text-align: center;
  line-height: 100%;
  transition: 0.2s;
}
.text-input:focus,
.number-input:focus {
  border-color: green;
}
.text-input:placeholder-shown,
.number-input:placeholder-shown {
  border-color: red;
}
.paste-api-key {
  width: auto;
  background-color: transparent;
}
#start-watching,
#stop-watching {
  display: none;
}
.numeric-input-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  /* border-bottom: 1px solid gray; */
}
.prefs_section label {
  flex: 1;
  display: block;
  margin: auto 0;
  line-height: 100%;
  font-size: 1.1rem;
  user-select: none;
}
.number-input {
  width: 4rem;
  padding: 10px;
}

.setting-button:hover {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 2px black;
  transition: 0.2s;
}
.setting-button:active {
  transform: scale(0.95);
  box-shadow: 1px 0px 5px 4px black;

  transition: 0.2s;
}
.setting-button.checked {
  border-color: green;
  font-weight: 600;
  /* box-shadow: 1px 0px 5px 1px green; */
  /* box-shadow: 1px 0px 5px 1px green; */
}
#watching-button {
  width: 100px;
  height: 2rem;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.2s;
}
#watching-button.active {
  color: black;
  font-weight: 600;
  box-shadow: 1px 0px 5px 1px green;
  border-color: transparent;
  background-color: green;
}
#watching-button.active svg {
  fill: black;
  opacity: 1;
  animation: updateTickAnimation 2s linear infinite;
  /* stroke: 2px solid black; */
}
#watching-button.error {
  background-color: red;
  border-color: transparent;
  color: black;
  font-weight: 600;
  box-shadow: 1px 0px 5px 1px red;
}
#watching-button.active.tick svg {
  opacity: 1;
}
@keyframes updateTickAnimation {
  /* from {
    box-shadow: 1px 0px 5px 1px rgb(0, 255, 98);
    background-color: rgb(0, 255, 98);
  } */
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.apply-settings {
  display: block;
  width: 100%;
  margin-top: 10px;
  display: inline;
  grid-column-end: 2;
}
.apply-settings.hidden {
  display: none;
}
.achivs-game {
  padding: 10px;
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  border: 1px solid transparent;
  align-items: center;
  justify-content: left;
  gap: 5px;
  overflow: hidden;
  /* display: none; */
}
.achivs-game * {
  /* border-bottom: 1px solid gray; */
  padding: 0 0 5px;
}
.achivs-game *:last-child,
.achivs-game *:first-child {
  border-bottom: 1px solid transparent;
}
.achivs-game img {
  padding: 0;
}
.game-preview {
  grid-row: 1 / 3;
  width: 100%;
  aspect-ratio: 1;
  max-width: 100%;
  max-height: 100%;
}
.game-title,
.game-achivs-count {
  padding-left: 5px;
  font-size: 1.2rem;
}

#game-achivs-count::after {
  content: " achieves availible";
}

.collected-date {
  font-size: 1rem;
  line-height: 1.5rem;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* можливо ви захочете встановити значення margin відповідно до вашого дизайну */
  appearance: none;
}
.settings_container div {
  padding: 7px 20px;
}
.settings_container div:nth-child(even) {
  background-color: #171717;
}
