.buttons-block {
    --side-panel-width: 100px;
    --button-height: 2rem;
    position: fixed;
    top: 0;
    left: calc(0px - var(--side-panel-width) - 5px);
    /* left: 0; */
    height: 100vh;
    width: calc(var(--button-height)*3);
    display: flex;
    flex-direction: column;
    padding: 0px;
    background: linear-gradient(to bottom,
            var(--accent-color),
            var(--main-color),
            var(--secondary-color));
    z-index: 1000;
    transition: 250ms;
    /* left: 0; */
    /*! delete */
}

#side_panel:hover,
#side_panel.expanded {
    left: 0;
}

.buttons-block__shortcuts {
    padding: 1rem 0;
    height: 100%;
    align-self: baseline;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    row-gap: 1.5rem;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.buttons-block_tools {
    position: relative;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
    justify-content: space-evenly;
}

.buttons-block_tools::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: var(--font-color);
    opacity: 0.15;
}

.buttons-block_container .setting-radio-group {

    width: calc(var(--button-height) + 1rem);
    height: fit-content;
    display: grid;
    place-items: center;
}

.setting-radio-group {
    position: relative;
}

.side-panel_link:hover {
    background-color: transparent;
    text-decoration: none;

}

.side-panel_input,
.side-panel_login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--button-height);
    background-color: transparent;
    transition: 0.2s;
    cursor: pointer;
    opacity: 0.5;
}

.side-panel_achieves-group {
    display: flex;
    position: relative;
}

.side-panel_button {
    position: absolute;
    background-color: transparent;
    width: 15px;
    height: 15px;
    right: 20%;
    top: -15%;
    opacity: 0.8;
}

.side-panel_login img,
.side-panel_input {
    width: 100%;
    aspect-ratio: 1;
    fill: var(--font-color);
    overflow: hidden;
    transition: 0.2s;
}

.side-panel_login img {
    border-radius: 10px;
}

.side-panel_login:hover>img {
    transform: scale(1.05);
}

.side-panel_input:hover>i {
    transform: scale(1.05);
}

.side-panel_input:active>i {
    transform: scale(0.99);
}

.side-panel_login:active>img {
    transform: scale(1);
}

input[type="checkbox"]:checked+.side-panel_input {
    opacity: 1;
}

input[type="checkbox"]:checked+.side-panel_login>img {
    border: 4px solid var(--font-color);
}

.side-panel_input::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: 0;
    transform: translateY(-50%);
    background-color: var(--font-color);
    transition: width 0.2s;
}

input[type="checkbox"]:checked+.side-panel_input::after {
    height: 100%;
}




.login-icon {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    padding: 10px;
    opacity: 1;
}

.login-icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: var(--font-color);
    opacity: 0.15;
}

.side-panel_settings {
    padding: 10px 0;
    position: relative;
}

.side-panel_settings::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: var(--font-color);
    opacity: 0.15;
}

.buttons-block.gradient-animation {
    /* background-image: linear-gradient(to bottom,
            var(--secondary-color),
            var(--main-color),
            var(--secondary-color)); */
    background: var(--main-color);

    background-size: 300% 300%;
    animation: gradientAnimation 10s linear infinite;
}

.side-panel__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, var(--yellow-color), var(--blue-color)); */
    z-index: -1;
    filter: blur(5px);
}

@keyframes gradientAnimation {

    0%,
    100% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 50% 0%;
    }
}

/*! 2024 recap button  */
.side-panel_text-icon {
    font-size: var(--button-height);
    color: var(--font-color);
    font-weight: bold;
    background: linear-gradient(90deg, #ff6f61, #6b4cff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1 !important;
}

.side-panel_text-icon:hover {
    transform: scale(1.1);
}

.side-panel_text-icon:active {
    transform: scale(0.99);
}

.side-panel__badge {
    position: absolute;
    top: 50%;
    right: 5px;
}