.status__section,
.rp__section {
    --progress-border-radius: 5px;
    --progress-value-border-radius: 5px;
    --progression-border-radius: 5px;
    --progress-height: 0.4rem;
    --progression-gap: 5px;
    --focus-opacity: 0.5;
    --locked-opacity: 0.1;
    --bg-opacity-mask: none;
    --progress-bg-color: var(--accent-color);
    --progress-value-bg: var(--accent-color);
    --progression-bg-color: var(--accent-color);
    --progression-bg-win-color: goldenrod;
    --progression-focus-color: var(--accent-color);
    --progression-unlock-color: var(--accent-color);
    --progression-unlock-win-color: goldenrod;
    --alert-heigth: 5.5rem;
}

.status__section {
    --alert-heigth: 100%;
}

.rp__section {
    /* --bg-image:url(); */
    top: 0;
    left: 100px;
    max-height: 100vh;
    min-width: 26rem;
    min-height: 6rem;
    height: 50vh;
    height: fit-content !important;
    width: 350px;
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: grab;
}



.section.status__section {
    position: absolute;
    top: calc(100vh - 6rem);
    left: 30%;
    height: 6rem;
    min-width: 300px;
    min-height: 6rem;
    max-height: 6rem;
    width: 500px;
    perspective: 1500px;
    border-radius: var(--border-radius);
    display: flex;
    cursor: grab;
    background-color: var(--main-color);
}

.game-bg:is(.rp__section, .status__section) {
    background-image: var(--bg-image);
    background-blend-mode: overlay;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center left;
    image-rendering: pixelated;
}

.rp__section[data-theme="thick"],
.status__section[data-theme="thick"] {
    --progress-border-radius: 1px;
    --progress-value-border-radius: 1px;
    --progression-border-radius: 0;
    --progress-height: 1rem;
    --progression-gap: 1px;
    --bg-opacity-mask: url(../assets/img/tr-1.svg);
    --focus-opacity: 1;
    --locked-opacity: 0.5;
    --progress-bg-color: var(--accent-color);

}

.rp__section[data-theme="RA"],
.status__section[data-theme="RA"] {
    --progress-border-radius: 5px;
    --progress-value-border-radius: 5px 0 0 5px;
    --progression-border-radius: 0;
    --progression-gap: 0;
    --focus-opacity: 1;
    --locked-opacity: 1;
    --progress-bg-color: black;
    --progression-bg-color: black;
    --progression-bg-win-color: black;
    --progression-focus-color: black;
    --progress-value-bg: linear-gradient(to right, #f59e0b, gold);
    --progression-unlock-color: #16a34a;
    --progression-unlock-win-color: goldenrod;
}

.section:where(.rp__section, .status__section)[data-theme="RA"] :nth-last-child(1 of .rp__progression-point:not(.win)) {
    border-radius: 0 var(--progress-border-radius) var(--progress-border-radius) 0;

}

.section:where(.rp__section, .status__section)[data-theme="RA"] :nth-child(1 of .rp__progression-point.win) {
    border-radius: var(--progress-border-radius) 0 0 var(--progress-border-radius);
}

.section:where(.rp__section, .status__section)[data-theme="RA"] .rp__progression-point:not(.win)+.rp__progression-point.win {
    margin-left: 0.5rem;
}


/* .rp__section:not(.show-cheevos-list) {
    height: fit-content !important;
} */

.rp__indicator {
    --color: var(--main-color);
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    width: 5px;
    aspect-ratio: 1;
    background-color: var(--color);
    border-radius: 50%;
    opacity: 0.2;
    z-index: 1;
}

.rp__indicator.blink {
    --color: var(--font-color);
    animation: update-blink 1s;
}

.rp__indicator.online {
    --color: rgb(0, 99, 0);
    opacity: 1;
    transition: .2s;
}

.rp__indicator.online.realtime {
    --color: rgb(81, 255, 0);
    opacity: 1;
    transition: .2s;
}

/* .rp__indicator.online::after {
    content: " online";
} */

.rp__indicator.offline {
    background-color: goldenrod;
    opacity: 1;
    transition: .2s;
}

.rp-content__container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.status__container .rp-content__container {
    padding: 0 0.5rem 0 0;
}

.status__container {
    position: relative;
    width: 100%;

    height: 100%;
    border-radius: var(--border-radius);
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    font-size: inherit;
    transition: transform 1s;
}

/**---------GAME-INFO-------  */
.rp__game-container {
    height: 5rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.status__container .rp__game-container {
    height: 100%;
}

.rp__preview-container {
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 2px;
}

.rp__game-image {
    height: 100%;
    aspect-ratio: 1;
}

.rp__game-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    overflow: hidden;
}

.rp__game-title {
    width: fit-content;
    max-width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    text-wrap: nowrap;
    overflow: hidden;
    /* text-transform: uppercase; */
}

.rp__game-info-grid {
    display: flex;
    flex-direction: row;
    row-gap: 0.25rem;
    column-gap: 1rem;
    height: 3.25rem;
    justify-content: space-between;
    align-items: center;
    /* flex-grow: 1; */
}

.rp__game-info-content {
    min-width: 0;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rp__game-platform {
    max-width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    opacity: 0.8;
    /* padding-bottom: 0.25rem; */
    font-size: 1.1rem;
}

.rp__game-icons {
    column-gap: 0.5rem;
    max-width: 75%;
    font-size: 1.05rem;
    flex-wrap: nowrap;
}

.rp__game-time {
    /* font-family: monospace; */
    grid-row: span 2;
    font-size: 2.5rem;
    font-weight: bold;
    place-self: center;
    text-wrap: nowrap;
    white-space: nowrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.rp__game-time[data-position="background"] {
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 0.5;
    transform: translateY(-50%);
}

.time__blinked-dots {
    font-weight: inherit;
    font-size: inherit;
}

/**--------RICH PRESENCE----------  */
.rp__rich-presence {
    width: 100%;
    padding: 0;
    font-size: 1.1rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rp__rich-presence.hidden {
    display: none;
}

/**--------PROGRESSION------------  */
.rp__progression-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* row-gap: 0.5rem; */
    display: none;
    /* height: 2.5rem; */
    min-width: 5rem;
}

:is(.show-progression, .rp__game-info) .rp__progression-container {
    display: flex;
}

.rp__progression-target {
    font-weight: normal;
    overflow-x: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}

.rp__progression-points {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: var(--progression-gap);
    align-items: center;
    overflow-x: scroll;
    height: var(--progress-height);
    margin-bottom: 0.2rem;
    border-radius: var(--progress-border-radius);
    overflow: hidden;
    /* padding: 0.25rem 0 0.5rem; */
}

/* --border-radius: 1px;
    --progress-height: 1rem;
    --progression-gap: 1px; */

.rp__win-points {
    font-size: inherit;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-basis: 1rem;
    flex-grow: 2;
    flex-shrink: 0;
    border-radius: var(--progress-border-radius);
    overflow: hidden;
}

.rp__progression-point {
    --color: var(--progression-bg-color);
    height: 100%;
    flex-basis: 0.4rem;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: inherit;
    /* border: 1px solid var(--color); */
    background-color: var(--color);
    border-radius: var(--progression-border-radius);
    opacity: var(--locked-opacity);
    mask-image: var(--bg-opacity-mask);
    mask-repeat: repeat;
    transition: opacity 0.2s, flex-grow 0.2s;
}



.rp__progression-point.focus {
    flex-grow: 1.5;
    opacity: var(--focus-opacity);
    mask-image: var(--bg-opacity-mask);
    mask-repeat: repeat;
}

.rp__progression-point.win {
    flex-basis: 1rem;
    --color: var(--progression-bg-win-color);

}

.rp__progression-point.earned {
    --color: var(--progression-unlock-color);
    box-shadow: 0 0 2px 0px var(--color);
    background-color: var(--color);
    border-color: transparent;
    border: none;
    box-shadow: none;
    opacity: 1;
    mask-image: none;
}

.rp__progression-point.win.earned {
    --color: var(--progression-unlock-win-color);
    opacity: 1;
}

/* .rp__progression-point.win.earned.hardcore {
    --color: gold;
} */


/**-----------PROGRESSBAR------------------  */
.rp__progressbar-container {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* row-gap: 0.5rem; */
    display: none;
    /* height: 2.5rem; */
    justify-content: space-between;
    min-width: 5rem;
}

:is(.show-progressbar, .rp__game-info) .rp__progressbar-container {
    display: flex;
}

.rp__progressbar-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 0.5rem;
}

.rp__last-cheevos {
    position: absolute;
    right: 0;
    bottom: -0.25rem;
    display: flex;
    align-items: end;
}

.rp__game-container .rp__last-cheevos {
    display: none;
}

.last-cheevo {
    position: relative;
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -1rem;
    border: 3px solid var(--main-color);
}

.last-cheevo:hover {
    z-index: 1;
    height: 5rem;
    transition: height .2s;
}

.last-cheevo__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: calc(100% + 8px);
    aspect-ratio: 1;
    /* width: 100%; */
}

.last-cheevo.digit {
    display: grid;
    place-items: center;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 0.7rem;
    /* text-align: left; */
}

.rp__progressbar-title {
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rp__progressbar {
    position: relative;
    width: 100%;
    height: var(--progress-height);
    border-radius: var(--progress-border-radius);
    margin: 0 0 0.2rem;
    overflow: hidden;
}

.rp__progressbar-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: var(--locked-opacity);
    background-color: var(--progress-bg-color);
    border-radius: var(--progress-border-radius);
    mask-image: var(--bg-opacity-mask);
    mask-repeat: repeat;
    z-index: -1;
}

.rp__progressbar::before,
.rp__progressbar-value {
    position: absolute;
    width: var(--unlockRate);
    height: 100%;
    background: var(--progress-value-bg);
    /* box-shadow: 0 0 2px 0px var(--accent-color); */
    border-radius: var(--progress-value-border-radius);

}

.rp__progressbar::before {
    --margin: 0px;
    content: "";
    background: lime;
    width: calc(var(--unlockRate) - var(--margin)*2);
    margin-left: var(--margin);
}

.rp__progressbar-value {
    transition: width 0.5s;
    transition-delay: 2s;
}

.rp__progressbar-sessions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    border-radius: var(--progress-border-radius);
    overflow: hidden;
}

.rp__progressbar-sessions.completed .rp__progressbar-session:last-child {
    border: 0;

}

.rp__progressbar-session {
    --percentage: 0%;
    display: inline-block;
    width: calc(var(--percentage));
    height: 100%;
    background: transparent;
    border-right: 1px solid var(--main-color);
    cursor: default;
}

.rp__progressbar-session:last-child {
    width: calc(var(--percentage) + 1px);
}

.rp__progressbar-session:hover {
    background-color: var(--font-color);
}


/**-------------TICKER--------------  */
.rp__ticker {
    width: 100%;
    text-wrap: nowrap;
    height: 1.3rem;
    background: linear-gradient(to right,
            #ee0979,
            #ff6a00);
    color: black;
    overflow: hidden;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    display: none;
}

.show-ticker .rp__ticker {
    display: flex;
}

/**-------------ALERT---------------- */
.rp__alert-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--alert-heigth);
    max-width: 100%;
    max-height: 100%;
    --main-color: #171a21;
    --font-color: white;
    --accent-color: #ff8b10;
    --line-gr: linear-gradient(to left, transparent, var(--accent-color), transparent);
    z-index: 10;
    pointer-events: none;
}

.rp__alert-container.hide-alert {
    opacity: 0;
    transition: opacity 500ms;
}

.rp__alert-content {
    /* --bg-src: url(https://media.retroachievements.org/Badge/10025.png); */
    position: relative;
    height: var(--alert-heigth);
    width: 100%;
    background: var(--main-color);
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 0.5rem;
    overflow: hidden;
}


.rp-alert__preview-container {
    flex-shrink: 0;
    height: var(--alert-heigth);
    aspect-ratio: 1;
    background: var(--bg-src);
    background-size: auto;
    background-size: contain;
    image-rendering: pixelated;
    z-index: 1;
}

.rp-alert__ambient {
    position: absolute;
    left: 0;
    width: 120%;
    height: 120%;
    aspect-ratio: auto;

    filter: blur(30px);

    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    mix-blend-mode: color;
    z-index: 0;
}

.rp-alert__neon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    animation: neon-anim 500ms ease-in-out forwards;
}

@keyframes neon-anim {
    0% {
        background: var(--accent-color);
    }

    100% {
        background: transparent;
    }
}

.rp-alert__neon::after,
.rp-alert__neon::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 1px;
    background: var(--line-gr);
    background: var(--accent-color);
    box-shadow:
        0 0 10px var(--accent-color),
        0 0 25px var(--accent-color),
        0 0 50px var(--accent-color);
}

.rp-alert__neon::after {
    bottom: 0;
    left: 0;
}

.rp-alert__neon::before {
    top: 0;
    left: 0;
}



.rp-alert__points {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 1.5rem;
    font-family: system-ui;
    font-weight: bold;
    color: var(--accent-color);
    z-index: 2;
}

.rp-alert__text-container {
    flex: 1;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.25rem;
    overflow: hidden;
    z-index: 1;
}

.rp-alert__text-container p {
    text-align: start;
}

.rp-alert__title {
    color: var(--accent-color);
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-align: center; */
    align-self: center;
    white-space: nowrap;
    border-bottom: 1px solid;
    border-image: var(--line-gr) 1;
    width: 100%;
    text-align: center;
    padding: 0.25rem 0;
}

.rp-alert__description {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    white-space: wrap;
    overflow: hidden;
    opacity: 0.8;
    /*   flex-grow: 1; */
}

.rp-alert__hor-decorate {
    width: 100%;
    height: 1px;
    background: var(--line-gr);
    opacity: 0.5;
}

/* .rp__alert-container {
    --font-color: black;
    --main-color: linear-gradient(to right,
            #ee0979,
            #ff6a00);
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    height: var(--alert-heigth);
    width: 100%;
    padding: 0;
    background: var(--main-color);
    color: black;
    box-shadow: inset 0 0 3px 0px black;
    overflow: hidden;
    display: none;
}

.rp__alert-container.show-alert {
    display: flex;
    animation-delay: 50ms;
    animation: rp-show-alert-animation 0.2s ease-in-out forwards;
}

.rp__alert-container.hide-alert {
    animation: rp-hide-alert-animation 0.2s ease-in-out forwards;
}



@keyframes rp-show-alert-animation {
    from {
        max-width: 0;
        padding: 0;
    }

    to {
        max-width: 100%;
        padding: 0.25rem;
    }
}

@keyframes rp-hide-alert-animation {
    from {
        max-width: 100%;
        padding: 0.25rem;
    }

    to {
        max-width: 0;
        padding: 0;
    }
}

.rp__alert-container :is(.target__cheevo-header, .list-item__text) {
    overflow-x: scroll;
    text-wrap: nowrap;
    white-space: nowrap;
}

.rp__alert-container.new-game .rp__preview-container {
    display: none;
}

.rp__alert-info-grid {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    justify-content: space-evenly;
    width: 100%;
    overflow: hidden;
}

.rp__alert-container .prev-img {
    filter: grayscale(0) opacity(1) blur(0);
}

.rp__alert-preview-container {
    position: relative;
    height: 100%;
}

.rp__alert-preview {
    height: 100%;
}

.rp__alert-title {
    line-height: 1.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-wrap: nowrap;
    white-space: nowrap;
}

.rp__alert-description {
    line-height: 1.2rem;
    font-size: 1.1rem;

    text-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
}

.rp__alert-badges {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.25rem;
    font-size: 1.2rem;
    width: 100%;
    overflow-x: scroll;
} */


/**-------------CHEEVOS-LIST--------  */
.flex-main-list.grid-list {
    justify-content: space-evenly;
    align-content: start;
}

.grid-list .main-column-item {
    flex-basis: var(--achiv-height);
    /* width: var(--achiv-height); */
    padding: 0;
    flex-grow: 0;
    aspect-ratio: 1;
}

/* .rp__section:not(.show-cheevos-list) */
.rp__section .flex-main-list {
    display: none;
}

.grid-list .prev,
.grid-list .prev-img {
    height: 100%;
    width: 100%;
}

.grid-list .target-achiv::after,
.grid-list .target-achiv::before {
    display: none;
}

.grid-list .target-achiv .target-achiv-details {
    display: none;
}

.grid-list .target-achiv.hardcore {
    border: 3px solid goldenrod;
}

.status__watch-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--secondary-color);
    display: grid;
    place-items: center;
    box-shadow: 0 0 5px 1px var(--secondary-color);
    opacity: 1;
    transition: transform 200ms, opacity 200ms;
    z-index: 10;
}

.section:hover .status__watch-button {
    opacity: 1;
}

.status__watch-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.status__watch-button.active {
    opacity: 0;
}

.status__watch-button:active {
    background-color: var(--accent-color);
    transform: translate(-50%, -50%) scale(1.05);
}

.status__watch-button::after {
    content: "";
    position: absolute;
    height: 80%;
    aspect-ratio: 1;
    background-color: var(--font-color);
    mask-image: url(../assets/img/play.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    opacity: 0.6;
    transition: opacity 200ms;
}

.status__watch-button:hover::after {
    opacity: 1;
}

.status__watch-button.active::after {
    mask-image: url(../assets/img/pause.svg);
}

.status__watch-button.error {
    background-color: red;
    border-color: transparent;
}