.rp__section {
    top: 0;
    left: 100px;
    max-height: 100vh;
    min-width: 26rem;
    min-height: 6rem;
    height: 50vh;
    height: fit-content !important;
    width: 350px;
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: grab;
}

/* .rp__section:not(.show-cheevos-list) {
    height: fit-content !important;
} */

.rp__indicator {
    --color: var(--main-color);
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    width: 5px;
    aspect-ratio: 1;
    background-color: var(--color);
    border-radius: 50%;
    opacity: 0.2;
    z-index: 1;
}

.rp__indicator.blink {
    --color: var(--font-color);
    animation: update-blink 1s;
}

.rp__indicator.online {
    --color: rgb(0, 99, 0);
    opacity: 1;
    transition: .2s;
}

.rp__indicator.online.realtime {
    --color: rgb(81, 255, 0);
    opacity: 1;
    transition: .2s;
}

/* .rp__indicator.online::after {
    content: " online";
} */

.rp__indicator.offline {
    background-color: goldenrod;
    opacity: 1;
    transition: .2s;
}

.rp-content__container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}


/**---------GAME-INFO-------  */
.rp__game-container {
    height: 5rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.rp__preview-container {
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 2px;
}

.rp__game-image {
    height: 100%;
    aspect-ratio: 1;
}

.rp__game-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
}

.rp__game-title {
    width: fit-content;
    max-width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    text-wrap: nowrap;
    overflow: hidden;
    /* text-transform: uppercase; */
}

.rp__game-info-grid {
    display: flex;
    flex-direction: row;
    row-gap: 0.25rem;
    column-gap: 1rem;
    height: 3.25rem;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.rp__game-info-content {
    min-width: 0;
    flex: 1;
}

.rp__game-platform {
    max-width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    opacity: 0.8;
    /* padding-bottom: 0.25rem; */
    font-size: 1.1rem;
    place-self: center start;
}

.rp__game-icons {
    column-gap: 0.5rem;
    max-width: 75%;
    font-size: 1.05rem;
    flex-wrap: nowrap;
}

.rp__game-time {
    /* font-family: monospace; */
    grid-row: span 2;
    font-size: 2.5rem;
    font-weight: bold;
    place-self: center;
    text-wrap: nowrap;
    white-space: nowrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.rp__game-time[data-position="background"] {
    position: absolute;
    right: 0;
    top: 10%;
    opacity: 0.5;
}

.time__blinked-dots {
    font-weight: inherit;
    font-size: inherit;
}

/**--------RICH PRESENCE----------  */
.rp__rich-presence {
    width: 100%;
    padding: 0;
    font-size: 1.1rem;
    text-wrap: nowrap;
    overflow: scroll;
    white-space: nowrap;
}

.rp__rich-presence.hidden {
    display: none;
}

/**--------PROGRESSION------------  */
.rp__progression-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    display: none;
    height: 2.5rem;
    min-width: 5rem;
}

:is(.show-progression, .rp__game-info) .rp__progression-container {
    display: flex;
}

.rp__progression-target {
    font-weight: normal;
    overflow-x: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}


.rp__progression-points {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 5px;
    align-items: center;
    overflow-x: scroll;
    height: 0.4rem;
    /* padding: 0.25rem 0 0.5rem; */
}

.rp__win-points {
    font-size: inherit;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-basis: 1rem;
    flex-grow: 2;
    flex-shrink: 0;
}

.rp__progression-point {
    --color: var(--accent-color);
    height: 0.4rem;
    flex-basis: 0.4rem;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: inherit;
    /* border: 1px solid var(--color); */
    background-color: var(--color);
    border-radius: 500px;
    opacity: 0.1;
    transition: opacity 0.2s, flex-grow 0.2s;
}

.rp__progression-point.focus {
    flex-grow: 1.5;
    opacity: 0.5;
}

.rp__progression-point.win {
    flex-basis: 1rem;
    --color: goldenrod;
}

.rp__progression-point.earned {
    --color: var(--accent-color);
    box-shadow: 0 0 2px 0px var(--color);
    background-color: var(--color);
    border-color: transparent;
    border: none;
    box-shadow: none;
    opacity: 1;
}

.rp__progression-point.win.earned {
    --color: goldenrod;
    opacity: 1;
}

.rp__progression-point.win.earned.hardcore {
    --color: gold;
}

/**-----------PROGRESSBAR------------------  */
.rp__progressbar-container {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* row-gap: 0.5rem; */
    display: none;
    height: 2.5rem;
    justify-content: space-between;
    min-width: 5rem;
}

:is(.show-progressbar, .rp__game-info) .rp__progressbar-container {
    display: flex;
}

.rp__progressbar-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.rp__last-cheevos {
    position: absolute;
    right: 0;
    bottom: -0.25rem;
    display: flex;
    align-items: end;
}

.rp__game-container .rp__last-cheevos {
    display: none;
}

.last-cheevo {
    position: relative;
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -1rem;
    border: 3px solid var(--main-color);
}

.last-cheevo:hover {
    z-index: 1;
    height: 5rem;
    transition: height .2s;
}

.last-cheevo__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: calc(100% + 8px);
    aspect-ratio: 1;
    /* width: 100%; */
}

.last-cheevo.digit {
    display: grid;
    place-items: center;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 0.7rem;
    /* text-align: left; */
}

.rp__progressbar-title {
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rp__progressbar-total {
    position: relative;
    width: 100%;
    height: calc(0.4rem);
    border-radius: 5rem;
    background-color: var(--selection-color);
    margin: 0 0 1px;
}

.rp__progressbar-container.fat .rp__progressbar-total {
    height: 0.6rem;
    border-radius: 0;
    border: 1px solid var(--accent-color);
}

.rp__progressbar-total::before,
.rp__progressbar-value {
    position: absolute;
    width: var(--unlockRate);
    height: 100%;
    background-color: var(--accent-color);
    /* box-shadow: 0 0 2px 0px var(--accent-color); */
    border-radius: inherit;

}

.rp__progressbar-total::before {
    --margin: 1px;
    content: "";
    background-color: lime;
    width: calc(var(--unlockRate) - var(--margin)*2);
    margin-left: var(--margin);
}

.rp__progressbar-value {
    transition: width 0.5s;
    transition-delay: 2s;
}

.rp__progressbar-sessions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;

    display: flex;
    flex-direction: row;
}

.rp__progressbar-session {
    --percentage: 0%;
    display: inline-block;
    width: calc(var(--percentage));
    height: 100%;
    background: transparent;
    border-right: 3px solid var(--main-color);
    cursor: default;
}

.rp__progressbar-session:first-child {
    border-radius: 100px 0 0 100px;
}

.rp__progressbar-session:last-child {
    border-radius: 0 100px 100px 0;

}

.rp__progressbar-session:only-child {
    border-radius: 100px;
}

.rp__progressbar-session:hover {
    background-color: var(--font-color);
}

/**-------------TICKER--------------  */
.rp__ticker {
    width: 100%;
    text-wrap: nowrap;
    height: 1.3rem;
    background: linear-gradient(to right,
            #ee0979,
            #ff6a00);
    color: black;
    overflow: hidden;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    display: none;
}

.show-ticker .rp__ticker {
    display: flex;
}

/**-------------ALERT---------------- */
.rp__alert-container {
    --font-color: black;
    --main-color: linear-gradient(to right,
            #ee0979,
            #ff6a00);
    position: absolute;
    z-index: 10;
    display: flex;
    column-gap: 0.5rem;
    height: 5.5rem;
    width: 100%;
    padding: 0;
    background: var(--main-color);
    color: black;
    box-shadow: inset 0 0 3px 0px black;
    overflow: hidden;
    display: none;
    /* animation: rp-alert-animation 0.6s ease-in-out forwards; */
}

.rp__alert-container.show-alert {
    display: flex;
    animation-delay: 50ms;
    animation: rp-show-alert-animation 0.2s ease-in-out forwards;
}

.rp__alert-container.hide-alert {
    animation: rp-hide-alert-animation 0.2s ease-in-out forwards;
}



@keyframes rp-show-alert-animation {
    from {
        max-width: 0;
        padding: 0;
    }

    to {
        max-width: 100%;
        padding: 0.25rem;
    }
}

@keyframes rp-hide-alert-animation {
    from {
        max-width: 100%;
        padding: 0.25rem;
    }

    to {
        max-width: 0;
        padding: 0;
    }
}

.rp__alert-container :is(.target__cheevo-header, .list-item__text) {
    overflow-x: scroll;
    text-wrap: nowrap;
    white-space: nowrap;
}

.rp__alert-container.new-game .rp__preview-container {
    display: none;
}

.rp__alert-info-grid {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 100%;
    overflow: hidden;
}

.rp__alert-container .prev-img {
    filter: grayscale(0) opacity(1) blur(0);
}

.rp__alert-preview-container {
    position: relative;
    height: 100%;
}

.rp__alert-preview {
    height: 100%;
}

.rp__alert-title {
    line-height: 1.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-wrap: nowrap;
    white-space: nowrap;
}

.rp__alert-description {
    line-height: 1.2rem;
    font-size: 1.1rem;

    text-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
}

.rp__alert-badges {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.25rem;
    font-size: 1.2rem;
    width: 100%;
    overflow-x: scroll;
}


/**-------------CHEEVOS-LIST--------  */
.flex-main-list.grid-list {
    justify-content: space-evenly;
    align-content: start;
}

.grid-list .main-column-item {
    flex-basis: var(--achiv-height);
    /* width: var(--achiv-height); */
    padding: 0;
    flex-grow: 0;
    aspect-ratio: 1;
}

/* .rp__section:not(.show-cheevos-list) */
.rp__section .flex-main-list {
    display: none;
}

.grid-list .prev,
.grid-list .prev-img {
    height: 100%;
    width: 100%;
}

.grid-list .target-achiv::after,
.grid-list .target-achiv::before {
    display: none;
}

.grid-list .target-achiv .target-achiv-details {
    display: none;
}

.grid-list .target-achiv.hardcore {
    border: 3px solid goldenrod;
}