.section.status__section {
  top: calc(100vh - 100px);
  left: 30%;
  height: 70px;
  min-width: 300px;
  min-height: 75px;
  max-height: 150px;
  width: 500px;
  perspective: 1500px;
  background: transparent;
  border-radius: var(--border-radius);
}

.status__section::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5px;
  height: 5px;
  background-color: var(--main-color);
  border-radius: 50%;
  opacity: 0.5;

}

.status__section.blink::after {
  --color: var(--font-color);
  animation: update-blink 1s;
}

.status__section.offline::after {
  background-color: goldenrod;
  opacity: 1;
  transition: .2s;
}

@keyframes update-blink {
  0% {
    background-color: var(--main-color);
  }

  50% {
    background-color: var(--color);
  }

  100% {
    background-color: var(--main-color);
  }
}

.status__section .status__game-info {
  display: none;
  padding: 0 5px;
}

.status__section .status__progres {
  display: none;
}

.title-platform-badge {
  display: none;
}

.show-game-info .status__game-info {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: auto;
  font-size: inherit;
}

.show-game-progress .title-platform-badge {
  display: inline;
}

.show-game-progress .status__progres {
  display: flex;
}

.show-ticker .magic-line__container {
  display: flex;
}

.status__header-buttons {
  position: absolute;
  z-index: 10;
  right: 0.25rem;
  top: 0.25rem;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  display: flex;
  opacity: 0;
}

.status__section:hover .status__header-buttons {
  opacity: 1;
}

.header-link-icon.header-button:hover {
  background: transparent;
}

.header-link-icon.header-button.hidden {
  display: none;
}

.status__container {
  /* --bg-image: url(https://media.retroachievements.org/Images/005200.png); */
  position: relative;
  background: var(--main-color);
  height: 100%;
  border-radius: var(--border-radius);
  cursor: grab;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  backface-visibility: hidden;
  font-size: 16px;
  transition: transform 1s;
}

.status__container.game-bg {
  background-image: var(--bg-image);
  background-blend-mode: overlay;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center left;
  image-rendering: pixelated;
}

.timer-timeout .status__container {
  filter: hue-rotate(90deg);
}

.status__container.show-back {
  transform: rotateX(180deg);
  animation: rotate-status-animation 1s ease-in-out;
}

/* .update */
.show-back .status_glass-effect {
  animation: status-glass-animation 1s ease-in-out forwards;
  animation-delay: 0s;
}

@keyframes status-glass-animation {
  20% {
    background-position-x: 100%;
  }

  65% {
    background-position-x: -70%;
  }

  65.1% {
    background-position-x: 120%;
  }

  80% {
    background-position-x: 80%;
  }

  100% {
    background-position-x: 110%;
  }
}

@keyframes status-glass-animation-back {
  0% {
    background-position-x: 110%
  }

  10% {
    background-position-x: 120%
  }

  10.01% {
    background-position-x: -70%;
  }

  100% {
    background-position-x: 80%;
  }
}

@keyframes rotate-status-animation {
  0% {
    transform: rotateX(0deg);
  }

  80% {
    transform: rotateX(220deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

.status_glass-effect {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  opacity: 1;
  background-image: linear-gradient(120deg,
      transparent 0%,
      transparent 18%,
      var(--accent-color) 20%,
      rgba(0, 247, 255, 0.7) 25%,
      rgba(0, 231, 255, 0.7) 30%,
      rgba(255, 0, 231, 0.7) 40%,
      var(--accent-color) 50%,
      transparent 60%,
      transparent 100%);
  background-repeat: no-repeat;
  background-size: 200% 200%;
  mix-blend-mode: color-dodge;
  animation: status-glass-animation-back 0.5s ease-in-out forwards;
  animation-delay: 0s;
  pointer-events: none;
  z-index: 12;
}

.status__user-status {
  position: relative;
  display: flex;
  align-items: center;
  /* gap: 5px; */
  justify-content: space-between;
  overflow: hidden;
  border-radius: var(--border-radius);
  /* padding-bottom: 5px; */
}

.status__user-status::before,
.status__user-status::after {
  /* content: ''; */
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--font-color);
  opacity: 0.06;
  z-index: 10;
}

.status__user-status::before {
  bottom: 0;
  height: 7px;
  background-color: var(--main-color);
  z-index: 9;
  opacity: 1;
}

/**---------------- BACK SIDE ------------- */
.status__back-side {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 5px 20px;
  transform: rotateX(180deg);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.status__back-side .status__text-block {
  justify-content: space-evenly;
}

.new-game-info .status__back-side {
  gap: 5px;
  padding: 0;
}

.status__back-side::after {
  --color: silver;
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  height: 80%;
  aspect-ratio: 1;
  transform: translate(-100%, -200%);
  background-color: var(--color);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.new-award .status__back-side::after {
  mask-image: url(../assets/img/trophy.svg);
  animation: update-achiv-anim 0.5s linear forwards;
}

.new-award .status__back-side.beaten::after,
.new-award .status__back-side.beaten-softcore::after {
  mask-image: url(../assets/img/medal.svg);
}

.new-achiv .status__back-side::after {
  mask-image: url(../assets/img/military_medal.svg);
  animation: update-achiv-anim 0.5s linear forwards;
}

.status__back-side.mastered::after,
.status__back-side.beaten::after,
.status__back-side.hardcore::after {
  --color: gold;
}

@keyframes update-achiv-anim {
  from {
    transform: scale(2) translate(100%, -200%);
  }

  to {
    transform: scale(1.0) translate(0, -50%);

  }
}

.new-game-info .status__back-side::after {
  content: none;
  background-image: "";
}

.card-3d {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  font-size: inherit;
}

.status__achiv-header {
  font-size: 1.6em;
  font-weight: 600;
  text-wrap: nowrap;
  overflow-x: hidden;
  max-width: 100%;
}

#update_achiv-title {
  max-width: 100%;
  overflow-x: scroll;
  display: block;
  white-space: nowrap;
}

.new-game-info .status__achiv-header {
  font-size: 1.4em;
  font-weight: 600;
}

.status__achiv-points {
  font-size: 1.5em;
  font-weight: 600;
}

.new-game-info .status__back-side .status__progres-description,
.new-award .status__back-side .status__progres-description {
  display: none;
}

.new-game-info .status__achiv-points {
  font-size: 1.4em;
  font-weight: 600;
}

.status__preview-container {
  font-size: inherit;
}

.status__back-side .status__preview-container {
  max-height: 75%;
}

.new-game-info .status__back-side .status__preview-container {
  max-height: 100%;

}



/**---------------- BACK SIDE ------------- */
.status__preview-container {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  z-index: 2;
  box-shadow: 0 1px 10px 3px black;
}

.status__preview-container::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: linear-gradient(to bottom, transparent, var(--secondary-color), transparent);
}


.status__game-preview {
  height: 100%;
  aspect-ratio: 1;
  object-fit: fill;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

.status__preview-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  z-index: 3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.stats .status__back-side .status__preview-container::after {
  background-image: url(../assets/img/avatar-border.webp);
}

.status__back-side.mastered .status__preview-container::after,
.status__back-side.hardcore .status__preview-container::after {
  background-image: url(../assets/img/border-8.webp);
}

.status__back-side .status__preview-container::after {
  background-image: url(../assets/img/game-border-5.webp);
}

.new-game-info .status__back-side .status__preview-container::after {
  content: none;
}

.status__text {
  text-align: left;
  text-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}



.status__big-text {
  --animation-duration: 1s;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  text-wrap: nowrap;
  word-wrap: none;
  font-weight: bold;
  color: var(--font-color);
  opacity: 0.4;
  padding-bottom: 6px;
  pointer-events: none;
  z-index: 2;
  transition: color var(--animation-duration);
}

.status__big-text.hidden {
  visibility: hidden;
}

.status__big-text.hide {
  color: var(--main-color);
}

.status__watch-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--secondary-color);
  display: grid;
  place-items: center;
  box-shadow: 0 0 5px 1px var(--secondary-color);
  opacity: 1;
  transition: transform 200ms, opacity 200ms;
  z-index: 10;
}

.section:hover .status__watch-button {
  opacity: 1;
}

.status__watch-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.status__watch-button.active {
  opacity: 0;
}

.status__watch-button:active {
  background-color: var(--accent-color);
  transform: translate(-50%, -50%) scale(1.05);
}

.status__watch-button::after {
  content: "";
  position: absolute;
  height: 80%;
  aspect-ratio: 1;
  background-color: var(--font-color);
  mask-image: url(../assets/img/play.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  opacity: 0.6;
  transition: opacity 200ms;
}

.status__watch-button:hover::after {
  opacity: 1;
}

.status__watch-button.active::after {
  mask-image: url(../assets/img/pause.svg);
}

.status__watch-button.error {
  background-color: red;
  border-color: transparent;
}


.status__retro-ratio {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 0 .2em 2px;
  border-radius: 0 var(--border-radius) 0 var(--border-radius);
  line-height: 1em;
}


.show-game-ratio .status__retro-ratio {
  display: block;
}

.status__game-title-container {
  text-align: start;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
  overflow: scroll;
  font-size: inherit;
  padding: 0.2em 0.2em 0;
}

.status__game-title {
  position: relative;
  color: var(--font-color);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 2px;
  flex-shrink: 0;
  overflow-x: scroll;
  max-width: 100%;
}


.status__game-platform {
  flex-shrink: 1;
  color: var(--font-color);
  background-color: var(--secondary-color);
  align-self: flex-start;
  padding: 0 8px;
  border-radius: 3px;
  font-weight: medium;
  font-size: 1.0em;
}

.status__game-platform.hidden {
  display: none;
}

.status__text-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
  overflow: hidden;
  z-index: 1;
  font-size: inherit;
}


.status__text.rich-presence_text {
  flex-grow: 0;
  overflow: scroll;
  text-wrap: nowrap;
  white-space: nowrap;
  font-size: 1em;
}

.rich-presence_text.hidden {
  display: none;
}

.status__progress-bar {
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 5px;
  z-index: 11;
  width: var(--progress-points, 0%);
  background-color: var(--accent-color);
  transition: width 2s ease-in-out;
}

.status__progress-bar_delta-values {
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 3px;
  width: var(--progress-points, 0%);
  background-color: greenyellow;
  z-index: 10;
  transition: none;
}

.status__progress-bar_delta-values.hidden {
  opacity: 0;
  transition: .2s;
  transition-delay: 5s;
}

/*! PROGRESSION TREE */

.status__progres {
  --progress: 2;
  width: 100%;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  flex: 1;
  font-size: inherit;
  row-gap: .25rem;
  overflow: visible;
  padding: 0 5px;
}

.status__progres-description {
  font-size: 1em;
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
}

.status__progres-container {
  --color: var(--font-color);
  --width: calc(100% / 5);
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
  font-size: inherit;
  padding: 0 0.2em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.progres-step.softcore {
  --color: var(--selection-color);
}

.progres-step.hardcore {
  --color: var(--accent-color);
}

.progres-step,
.progres-step__win {
  position: relative;
  width: var(--width);
  max-width: 5em;
  height: 1.5em;
  background-color: transparent;
  display: flex;
  justify-content: start;
  font-size: inherit;
  align-items: center;
  min-width: 1.5em;
}

/* .progres-step:first-child, */
.progres-step__win:first-child {
  width: auto;
}

/* .progres-step:first-child {
  width: auto;
} */

.progres-point {
  position: relative;
  /* background-color: var(--main-color); */
  height: 1.2em;
  /* max-height: 1.8rem; */
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--color);
  display: grid;
  place-items: center;
  z-index: 2;
  font-size: inherit;
}

.progres-point.win {
  border: none;
  width: 0.75rem;
}


.progres-point:hover {
  scale: 1.1;
  transition: 0.2s;
}

/* .softcore .progres-point:not(.win) {
  background-color: var(--color);
} */

.hardcore .progres-point:not(.win) {
  background-color: var(--color);
}

.progres-step::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  width: calc(100% - 1.2em);
  height: 2px;
  background-color: var(--color);
  z-index: 1;
}

.progres-step:last-child::after {
  display: none;
}

.progres-step .progres-point::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--font-color);
}


.progres-point.win::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 30%;
  aspect-ratio: 1;
  height: 110%;
  background-color: var(--font-color);
  mask-image: url(../assets/img/flag.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  overflow: visible;
}

.progres-step:where(.hardcore, .softcore) .progres-point:not(.win):before {
  height: 100%;
  border-radius: 50%;
  background-color: var(--font-color);
  mask-image: url(../assets/img/check.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.progres-point.softcore.win:before {
  background-color: rgb(153, 130, 71);
}

.progres-point.hardcore.win:before {
  background-color: gold;
}

.progres-step.focus {
  scroll-snap-align: center;
}

.progres-point.focus::after {
  /* display: none; */
  content: '';
  position: absolute;
  width: 1.2em;
  height: 2px;
  background: linear-gradient(to left, transparent, var(--font-color), transparent);
  bottom: -5px;

}

@keyframes rotate-animation {
  to {
    transform: rotateZ(360deg);
  }
}

/* .current-level.progres-point:not(.win) {
  border-radius: 50%;
  border: 2px solid greenyellow;
} */

.magic-line__container {
  font-size: inherit;
  /* position: absolute; */
  bottom: 0;
  height: 1em;
  background: linear-gradient(to right,
      #ee0979,
      #ff6a00);
  overflow-x: scroll;
  color: black;
  width: 100%;
  display: none;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  justify-self: end;
  z-index: 0;
  border-radius: 0 0 var(--border-radius) 0;
}

.infinite-line {
  text-wrap: nowrap;
  white-space: nowrap;
  font-size: 0.9em;

}