.stats_section.section {
    display: flex;
    flex-direction: column;
    left: 200px;
    top: 100px;
    width: 250px;
    height: auto !important;
    min-width: 11rem;
    min-height: 5rem;
    cursor: grab;
}

.hide-bg.stats_section.section:not(:hover) {
    background: transparent;
}


.stats-container {
    --flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex: 1; */
    overflow-y: scroll;
    gap: 0.5rem;
    background-color: transparent;
    padding: 0.5rem;
}


.stats__stat-container {
    flex-basis: 8rem;
    height: 6.5rem;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
    padding: 0.25rem;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}

.stats__stat-container.hidden {
    display: none;
}

/* 
.stats__stat-container::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: linear-gradient(to right, transparent, var(--font-color), transparent);

} */

.stats__title {
    font-size: 1.1rem;
    font-weight: normal;
    text-wrap: nowrap;
}

.stats__value {
    font-size: 2rem;
    font-weight: bold;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* .stats__value::after {
    content: attr(data-delta);
    position: absolute;
    right: 5px;
    top: -3px;
    color: greenyellow;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    transition: 1s;
} */
/* 
.stats__value.negative::after {
    color: crimson;
} */

/* .stats__rank-value.stats__value.negative::after {
    color: greenyellow;
}

.stats__rank-value.stats__value::after {
    color: crimson;
}

.stats__value.delta::after {
    opacity: 1;
} */

.session-progress {
    color: greenyellow;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: bold;
}

.session-progress.negative {
    color: crimson;
}

.session-progress {
    display: none;
}

.show-session-progress .session-progress {
    display: inline-block;
}

.stats__chart-container {
    flex: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0.5rem 0.25rem;
}

.round-stat__container {
    --line-width: 50%;
    --m-color: gold;
    --c-color: red;
    --b-color: lime;
    --b-s-color: cornflowerblue;
    --s-color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    overflow: hidden;
}

.round-stat__container .circle {
    position: relative;
    height: 7rem;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

.round-stat__total {
    mask-image: url(../assets/img/circle.svg);
    mask-size: contain;
    mask-position: center;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--m-color) 0%, var(--m-color) calc(var(--m)),
            var(--c-color) calc(var(--m)), var(--c-color) calc(var(--m) + var(--c)),
            var(--b-color) calc(var(--m) + var(--c)), var(--b-color) calc(var(--m) + var(--c) + var(--b)),
            var(--b-s-color) calc(var(--m) + var(--c) + var(--b)), var(--b-s-color) calc(var(--m) + var(--c) + var(--b) + var(--b-s)),
            var(--s-color) calc(var(--m) + var(--c) + var(--b) + var(--b-s)));
}

.round-stat__legend {
    top: 50%;
    left: 50%;
    font-size: 1rem;
    z-index: 2;
    border-radius: 5px;
}

.legend__award {
    position: relative;
    text-transform: capitalize;
    text-wrap: nowrap;
    padding: 0 0.5rem 0 1.25rem;
    width: fit-content;
}

.legend__award::before {
    content: '';
    position: absolute;
    left: .25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}



.legend__mastered::before {
    background-color: var(--m-color);
}

.legend__completed::before {
    background-color: var(--c-color);
}

.legend__beaten::before {
    background-color: var(--b-color);
}

.legend__beaten-soft::before {
    background-color: var(--b-s-color);
}

.legend__started::before {
    background-color: var(--s-color);
}