.section.status__section {
  top: calc(100vh - 100px);
  left: 30%;
  height: 70px;
  min-width: 300px;
  min-height: 75px;
  max-height: 150px;
  width: 500px;
  perspective: 1500px;
  background: transparent;
  border-radius: var(--border-radius);
  display: flex;
  position: relative;
}

.status__section::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5px;
  height: 5px;
  background-color: var(--main-color);
  border-radius: 50%;
  opacity: 0.5;

}

.status__section.blink::after {
  --color: var(--font-color);
  animation: update-blink 1s;
}

.status__section.offline::after {
  background-color: goldenrod;
  opacity: 1;
  transition: .2s;
}

@keyframes update-blink {
  0% {
    background-color: var(--main-color);
  }

  50% {
    background-color: var(--color);
  }

  100% {
    background-color: var(--main-color);
  }
}


.show-ticker .magic-line__container {
  display: flex;
}



.header-link-icon.header-button:hover {
  background: transparent;
}

.header-link-icon.header-button.hidden {
  display: none;
}

.status__container {
  width: 100%;
  position: relative;
  background: var(--main-color);
  height: 100%;
  border-radius: var(--border-radius);
  cursor: grab;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  font-size: inherit;
  transition: transform 1s;
}

.status__container.game-bg {
  background-image: var(--bg-image);
  background-blend-mode: overlay;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center left;
  image-rendering: pixelated;
}

.timer-timeout .status__container {
  filter: hue-rotate(90deg);
}



.card-3d {
  width: 100%;
  height: 100%;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: var(--border-radius);

}

.card-3d {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  backface-visibility: hidden;
  font-size: inherit;
}

card-3d::before,
card-3d::after {
  /* content: ''; */
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--font-color);
  opacity: 0.06;
  z-index: 10;
}

card-3d::before {
  bottom: 0;
  height: 7px;
  background-color: var(--main-color);
  z-index: 9;
  opacity: 1;
}

.status__preview-container {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  /* z-index: 2; */
  box-shadow: 0 0 3px 0px black;
}

.status__preview-container::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: linear-gradient(to bottom, transparent, var(--secondary-color), transparent);
}

.status__retro-ratio {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 0 .2em 2px;
  border-radius: 0 var(--border-radius) 0 var(--border-radius);
  line-height: 1em;
}


.show-game-ratio .status__retro-ratio {
  display: block;
}

.status__game-preview {
  height: 100%;
  aspect-ratio: 1;
  object-fit: fill;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

.status__watch-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--secondary-color);
  display: grid;
  place-items: center;
  box-shadow: 0 0 5px 1px var(--secondary-color);
  opacity: 1;
  transition: transform 200ms, opacity 200ms;
  z-index: 10;
}

.section:hover .status__watch-button {
  opacity: 1;
}

.status__watch-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.status__watch-button.active {
  opacity: 0;
}

.status__watch-button:active {
  background-color: var(--accent-color);
  transform: translate(-50%, -50%) scale(1.05);
}

.status__watch-button::after {
  content: "";
  position: absolute;
  height: 80%;
  aspect-ratio: 1;
  background-color: var(--font-color);
  mask-image: url(../assets/img/play.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  opacity: 0.6;
  transition: opacity 200ms;
}

.status__watch-button:hover::after {
  opacity: 1;
}

.status__watch-button.active::after {
  mask-image: url(../assets/img/pause.svg);
}

.status__watch-button.error {
  background-color: red;
  border-color: transparent;
}

.status__main-information {
  font-size: inherit;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 100%;
  padding-left: 0.25rem;

  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
}

.status__title-container {
  text-align: start;
  column-gap: 5px;
  font-size: inherit;
  max-height: 2.7em;
  width: 100%;
  overflow-x: scroll;
  font-size: 1.3em;
  text-wrap: nowrap;
  white-space: nowrap;
}

.status__game-title {
  position: relative;
  color: var(--font-color);
  font-size: inherit;
  line-height: 1.2;
  font-weight: bold;
  flex-shrink: 0;
  max-width: 100%;
  text-wrap: nowrap;
}

.status__description-text,
.rich-presence_text {
  font-size: 1.1em;
  text-wrap: nowrap;
  white-space: nowrap;
  place-self: center start;
  overflow: hidden;
  width: 100%;
}

.section:not(.show-game-info) .rich-presence_text {
  display: none;
}

.rich-presence_text.hidden {
  display: none;
}

.status__footer-container {
  width: 100%;
  overflow: hidden;
  font-size: inherit;
}

.status__sideblock-container {
  position: relative;
  font-size: inherit;
  flex-shrink: 0;
  background: var(--secondary-color);
  height: 100%;
  min-width: 7em;
  padding: 0 0.25em;
  pointer-events: none;
  /* z-index: 2; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 3px 0px black;
  transition: min-width 1s;
  display: none;
}

.show-time-bar .status__sideblock-container {
  display: flex;
}

.status__sideblock-container.long-time {
  min-width: 10em;
}

.game-bg .status__sideblock-container {
  background: #00000093;
}

.status__sideblock-icons {
  font-size: inherit;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 0.5rem;
}

.signed-icon.auto-font-size,
.auto-font-size {
  font-size: 1.0em;
}

.status__big-text {
  --animation-duration: 1s;
  font-size: 2.5em;
  line-height: 1.0em;
  text-wrap: nowrap;
  font-weight: 600;
  color: var(--font-color);
  transition: color var(--animation-duration);
  font-family: monospace;
}

.status__big-text.hidden {
  visibility: hidden;
}

.status__big-text.hide {
  color: var(--main-color);
}

.status__main-time,
.status__secondary-time {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.1em;
}



/**---------------- BACK SIDE ------------- */

.status__back-side {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
  padding: 0 1rem;
  transform: rotateX(180deg);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  transform: rotateX(180deg);
}



.new-game-info .status__back-side {
  gap: 5px;
  padding: 0;
}

.status__back-side::after {
  --color: silver;
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  height: 80%;
  aspect-ratio: 1;
  transform: translate(-100%, -200%);
  background-color: var(--color);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.new-award .status__back-side::after {
  mask-image: url(../assets/img/trophy.svg);
  animation: update-achiv-anim 0.5s linear forwards;
}

.new-award .status__back-side.beaten::after,
.new-award .status__back-side.beaten-softcore::after {
  mask-image: url(../assets/img/medal.svg);
}

.new-achiv .status__back-side::after {
  mask-image: url(../assets/img/military_medal.svg);
  animation: update-achiv-anim 0.5s linear forwards;
}

.status__back-side.mastered::after,
.status__back-side.beaten::after,
.status__back-side.hardcore::after {
  --color: gold;
}

@keyframes update-achiv-anim {
  from {
    transform: scale(2) translate(100%, -200%);
  }

  to {
    transform: scale(1.0) translate(0, -50%);

  }
}

.new-game-info .status__back-side::after {
  content: none;
  background-image: "";
}



.status__alert-header {
  font-size: inherit;
  font-weight: 600;
  text-wrap: nowrap;
  overflow-x: hidden;
  max-width: 100%;
}


.status__alert-title {
  max-width: 100%;
  overflow-x: scroll;
  display: block;
  white-space: nowrap;
  text-wrap: nowrap;
  font-size: 1.5em;
  line-height: 1.2;
}

.status__alert-description {
  font-size: 1.1em;
  line-height: 1.2;
  text-wrap: nowrap;
  white-space: nowrap;
}


.status__alert-points {
  font-size: 1.4em;
  font-weight: 600;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.25em;
}

.new-game-info .status__back-side .status__progression-description,
.new-award .status__back-side .status__progression-description {
  display: none;
}

.stats .status__alert-points,
.new-game-info .status__alert-points {
  font-size: 1.3em;
  font-weight: 600;
  flex-wrap: wrap;
}

.status__preview-container {
  font-size: inherit;
}

.status__back-side .status__preview-container {
  max-height: 65%;
}

.new-game-info .status__back-side .status__preview-container {
  max-height: 100%;

}

.status__back-side .status__text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  overflow: hidden;
  font-size: inherit;
}


/**---------------- BACK SIDE ------------- */


.status__container.show-back {
  transform: rotateX(180deg);
  animation: rotate-status-animation 1s ease-in-out;
}

.show-back .status_glass-effect {
  animation: status-glass-animation 1s ease-in-out forwards;
  animation-delay: 0s;
}

@keyframes status-glass-animation {
  20% {
    background-position-x: 100%;
  }

  65% {
    background-position-x: -70%;
  }

  65.1% {
    background-position-x: 120%;
  }

  80% {
    background-position-x: 80%;
  }

  100% {
    background-position-x: 110%;
  }
}

@keyframes status-glass-animation-back {
  0% {
    background-position-x: 110%
  }

  10% {
    background-position-x: 120%
  }

  10.01% {
    background-position-x: -70%;
  }

  100% {
    background-position-x: 80%;
  }
}

@keyframes rotate-status-animation {
  0% {
    transform: rotateX(0deg);
  }

  80% {
    transform: rotateX(220deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

.status_glass-effect {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  opacity: 1;
  background-image: linear-gradient(120deg,
      transparent 0%,
      transparent 18%,
      var(--accent-color) 20%,
      rgba(0, 247, 255, 0.7) 25%,
      rgba(0, 231, 255, 0.7) 30%,
      rgba(255, 0, 231, 0.7) 40%,
      var(--accent-color) 50%,
      transparent 60%,
      transparent 100%);
  background-repeat: no-repeat;
  background-size: 200% 200%;
  mix-blend-mode: color-dodge;
  animation: status-glass-animation-back 0.5s ease-in-out forwards;
  animation-delay: 0s;
  pointer-events: none;
  z-index: 12;
}


.status__back-side .status__preview-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  z-index: 3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.stats .status__back-side .status__preview-container::after {
  background-image: url(../assets/img/avatar-border.webp);
}

.status__back-side.mastered .status__preview-container::after,
.status__back-side.hardcore .status__preview-container::after {
  background-image: url(../assets/img/border-8.webp);
}

.status__back-side .status__preview-container::after {
  background-image: url(../assets/img/game-border-5.webp);
}

.new-game-info .status__back-side .status__preview-container::after {
  content: none;
}

.status__text {
  text-align: left;
  text-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}

.status__progres-description {
  font-size: 1.2em;
  line-height: 1.2;
  text-wrap: wrap;
  max-height: 2.5em;
}




.status__progress-bar {
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 5px;
  z-index: 11;
  width: var(--progress-points, 0%);
  background-color: var(--accent-color);
  transition: width 2s ease-in-out;
}

.status__progress-bar_delta-values {
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 3px;
  width: var(--progress-points, 0%);
  background-color: greenyellow;
  z-index: 10;
  transition: none;
}

.status__progress-bar_delta-values.hidden {
  opacity: 0;
  transition: .2s;
  transition-delay: 5s;
}

/*! PROGRESSION TREE */

.status__progres {
  --progress: 2;
  width: 100%;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  flex: 1;
  font-size: inherit;
  row-gap: .25rem;
  overflow: visible;
  padding: 0 5px;
}

.status__progression-description {
  position: relative;
  font-size: 1em;
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 6em);
  display: none !important;
  /* max-width: calc(100% - 8.5em);  */
}

/* 
.status__progression-description::after {
  content: '\00A0\00A0\00A0';

}

.status__progression-description::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1em;
  background: linear-gradient(to right, transparent, var(--main-color));
} */
.section:not(.show-game-progress) .status__description-text {
  display: none;
}

.status__progression-container {
  --color: var(--font-color);
  --width: calc(100% / 5);
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
  font-size: inherit;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.progression-points__dots {
  --dot-height: 1.5em;
  --dot-min-width: 2em;
  --color: var(--font-color);
  --dot-image: url(../assets/img/circle-with-dot.svg);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.progression-points__rects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.5em;
  row-gap: 0.25em;
  min-height: 1.0em;
  max-height: 1.8em;
}

.win-points__dots {
  font-size: inherit;
  align-self: center;
  position: relative;
  display: flex;
  align-items: center;
  gap: -10px;
  height: var(--dot-height);
  width: fit-content;
}

.progression-point__dot {
  font-size: inherit;
  position: relative;
  height: var(--dot-height);
  flex-basis: var(--dot-min-width);
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 6em;
}

.progression-point__dot.focus {
  --dot-image: url(../assets/img/radio_button_checked.svg);
}


.progression-point__dot.earned {
  --color: var(--accent-color);
  --dot-image: url(../assets/img/task_check_circle.svg);
}

.progression-point__dot::before {
  content: "";
  position: absolute;
  height: var(--dot-height);
  aspect-ratio: 1;
  left: 0;
  top: 0;
  mask-image: var(--dot-image);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: var(--color);
}

.progression-point__dot::after {
  content: "";
  position: absolute;
  width: calc(100% - var(--dot-height) + 4px);
  right: -2px;
  height: 2px;
  top: calc(50% - 1px);
  background-color: var(--color);
}

.progression-point__dot:last-child:after {
  display: none;
}

.progression-point__dot-win {
  font-size: inherit;
  height: var(--dot-height);
  width: var(--dot-height);
  mask-image: url(../assets/img/flag.svg);
  mask-size: contain;
  mask-position: -0.17em center;
  mask-repeat: no-repeat;
  background-color: var(--color);
}

.progression-point__dot-win.earned {
  --color: gold;
}

.progression-point__dot-win:nth-child(n + 2) {
  margin-left: -0.8em;
}

.magic-line__container {
  grid-area: ticker;
  font-size: inherit;
  /* position: absolute; */
  bottom: 0;
  height: 1em;
  background: var(--orange-gradient);
  overflow-x: scroll;
  color: black;
  width: 100%;
  display: none;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  justify-self: end;
  z-index: 0;
  border-radius: 0 0 var(--border-radius) 0;
}

.infinite-line {
  text-wrap: nowrap;
  white-space: nowrap;
  font-size: 0.9em;

}