@import url(./reset.css);
@import url(./components.css);
@import url(./background.css);
@import url(./icons.css);
@import url(./settings.css);
@import url(./side-panel.css);
@import url(./gameCard.css);
@import url(./achievement.css);
@import url(./targetAchivs.css);
@import url(./awards.css);
@import url(./status.css);
@import url(./games.css);
@import url(./progression.css);
@import url(./note.css);
@import url(./userInfo.css);
@import url(./notification.css);
@import url(./game-popup.css);
@import url(./stats.css);
@import url(./aotw.css);
@import url(./statusV2.css);


/* @import url('../assets/fonts/bucky_ohare_nes.ttf'); */
/* @font-face {
  font-family: 'OHare';
  src: url('../assets/fonts/bucky_ohare_nes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

p,
h1,
h2,
h3,
button,
div,
li {
  font-family: var(--font-family);

  font-size: 1rem;
}

h3 {
  font-weight: 600;
  font-size: 1.1rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

img {
  image-rendering: pixelated;
}

:root {
  --font-family: system-ui, sans-serif;
  font-size: 16px;
  --main-color: #201221;
  --secondary-color: #181118;
  --accent-color: #57125c;
  --font-color: #eee;
  --selection-color: #008000;
  --shadow-color: #000000;
  --yellow-color: #c39c30;
  --blue-color: #3663d8;

  --border-radius: 5px;
  --box-shadows: 1px 1px 0 var(--shadow-color), 2px 2px 0 var(--shadow-color),
    3px 3px 0 var(--shadow-color), 4px 4px 0 var(--shadow-color);
  --box-shadow-hover: 1px 1px 0 var(--shadow-color),
    2px 2px 0 var(--shadow-color), 3px 3px 0 var(--shadow-color);
}

body {
  background-color: black;
  color: var(--font-color);
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

a {
  border-radius: 2px;
  color: inherit;
  background-color: transparent;
  transition: background-color 200ms, color 200ms;
}

a:hover {
  color: var(--main-color);
  background-color: var(--font-color);
  text-decoration: none;
}

.wrapper {
  height: 100%;
}

.loading-section {
  --icon-width: 48px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 10000;
}

.loading-section.hidden {
  display: none;
}

.loading-section::before,
.loading-section::after {
  position: absolute;
  content: "";
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
}

.loading-section::before {
  content: "Loading...";
  color: white;
  top: calc(50% - var(--icon-width));
  left: 50%;
}

.loading-section::after {
  width: var(--icon-width);
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  background-image: url(../assets/img/progress-loading.svg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: loading-animation 0.8s linear infinite;
}

@keyframes loading-animation {
  to {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}