@import url(./reset.css);
@import url(./settings.css);
@import url(./gameCard.css);
@import url(./achievement.css);
@import url(./help.css);
@import url(./targetAchivs.css);
/* @import url(https://fonts.googleapis.com/css?family=Honk:regular);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular); */
* {
  font-family: "system-ui", sans-serif;
}

body {
  background-color: black;
  color: antiquewhite;
  overflow-x: hidden;
}
section {
  visibility: visible;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: move;
  user-select: none;
  opacity: 1;
  transition: 0.2s;
}
section.dragable:active {
  z-index: 100;
  border: 1px solid green;
  transition: none;
}
section.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
section:hover {
  z-index: 100;
}
h3 {
  font-weight: 600;
  font-size: 1.1rem;
}
h2 {
  text-align: center;
  padding: 5px;
  font-weight: 600;
  font-size: 1.3rem;
  border-bottom: 1px solid white;
}
.wrapper {
  min-height: 100%;
}
.buttons-block {
  position: absolute;
  top: 80%;
  left: 30%;
  /* transform: translate(-50%, 0); */
  padding: 10px;
  display: flex;
  gap: 10px;
  padding: 10px;

  border-radius: 5px;
  background-color: #171717;
  opacity: 0.2;
  transition: 0.2s;
}
.buttons-block:hover {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.buttons-block:active {
  transition: none;
}
.buttons-block:hover .open-settings-button {
}
.open-settings-button {
  border-radius: 5px;
  background-color: black;
  padding: 10px;
  border: 1px solid white;
  color: white;
  z-index: 20;
  /* visibility: hidden; */

  transition: 0.2s;
}
.open-settings-button:hover {
  background-color: #11111111;
  border: 1px solid gold;
  transition: 0.3s;
}
.open-settings-button:active {
  background-color: #111;
  border: 1px solid white;
  transition: 0.3s;
}
