@import url(./reset.css);
@import url(./settings.css);
@import url(./login.css);
@import url(./gameCard.css);
@import url(./achievement.css);
@import url(./help.css);
@import url(./targetAchivs.css);
@import url(./awards.css);
/* @import url(https://fonts.googleapis.com/css?family=Honk:regular);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular); */
p,
h1,
h2,
h3,
button,
div {
  font-family: "system-ui", sans-serif;
}
h3 {
  font-weight: 600;
  font-size: 1.1rem;
}
h2 {
  text-align: left;
  padding: 5px;
  font-weight: 600;
  font-size: 1.3rem;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}
:root {
  --main-color: #201221;
  --secondary-color: #181118;
  --font-color: #eee;
}
body {
  background-color: black;
  /* background-image: url(../assets/img/pixelart.png); */
  background-size: cover;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: brightness(0.1);
  color: var(--font-color);
  overflow: hidden;
}
.section {
  visibility: visible;
  border-radius: 5px;
  /* border: 1px solid transparent; */
  user-select: none;
  opacity: 1;
  box-shadow: 0 0 5px 2px black;
  /* transition: 0.2s; */
}
.section.dragable {
  z-index: 101;
  /* box-shadow: 0 0 10px 4px var(--main-color); */
  transition: none;
}
.section.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
.section:hover {
  z-index: 101;
}

.header-container {
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  border-bottom: 1px solid gray;
}
.header-icon {
  display: flex;
  padding: 2px;
}
.header-button {
  cursor: pointer;
}
.header-icon svg,
.svg-icon svg {
  fill: white;
  padding: 1px;
}
.header-button svg,
.svg-button svg {
  fill: white;
  aspect-ratio: 1;
  opacity: 0.5;
  padding: 1px;
  transition: 0.2s;
}
.header-button:hover svg,
.paste-api-key:hover svg {
  fill: white;
  opacity: 1;
  padding: 0;
  transition: 0.2s;
}
.header-button:active svg,
.paste-api-key:active svg {
  fill: white;
  opacity: 1;
  padding: 2px;
  transition: 0.2s;
}

.wrapper {
  min-height: 100%;
}
.buttons-block {
  position: absolute;
  top: auto !important;
  bottom: -50px !important;
  left: 50% !important;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px 10px 0 0;
  background-color: var(--secondary-color);
  cursor: default;
  transition: 0.2s;
}
.buttons-block::before,
.buttons-block::after {
  content: "";
  position: absolute;
  left: 50%;
}
.buttons-block::before {
  bottom: 100%;
  width: 100px;
  height: 25px;
  border-radius: 10px 10px 0 0;
  border: 1px solid transparent;
  border-bottom: none;
  background-color: var(--secondary-color);
  transform: translate(-50%, 0);
  z-index: -1;
}
.buttons-block::after {
  bottom: 70%;
  width: 25px;
  height: 27px;
  background-image: url(../assets/img/expand_more.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%) scaleY(-1);
  transition: 0.2s;
}

.buttons-block:hover::after {
  transform: translate(-50%, -50%) scaleY(1);
  transition: 0.2s;
}
.buttons-block:hover {
  visibility: visible;
  bottom: 0 !important;
  opacity: 1;
  transition: 0.2s;
}
.buttons-block:active {
  transition: none;
}
/* .window-button {
  position: relative;
}
.window-button::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: green;
  top: 4px;
  right: 4px;
} */
.section .resizer {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-55%, -100%);
  width: 40px;
  aspect-ratio: 1.5;
  background-color: transparent;
  cursor: nwse-resize;
  z-index: 1;
}
.resizer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  aspect-ratio: 1;
  transform: translate(-100%, -50%);
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.2s;
  opacity: 0.5;
}
.section:hover .resizer::after {
  background-color: green;
}
.resizer:hover::after {
  width: 20px;
  transition: 0.2s;
  opacity: 1;
}
.section .resizer:active::after {
  width: 15px;
  background-color: red;
  transition: 0.2s;
  opacity: 1;
}
.setting-radio-group input[type="radio"],
.setting-radio-group input[type="checkbox"] {
  display: none;
}
.setting-radio-group {
}
.radio-button,
.check-button {
  position: relative;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid rgb(71, 71, 71);
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s;
}
.radio-button:hover,
.check-button:hover {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 2px black;
  cursor: pointer;
  transition: 0.2s;
}
.radio-button:active,
.check-button:active {
  transform: scale(0.95);
  box-shadow: 1px 0px 5px 4px black;
  transition: 0.2s;
}
input[type="radio"]:checked + .radio-button,
input[type="checkbox"]:checked + .check-button {
  background-color: black;
}
input[type="radio"]:checked + .radio-button::after,
input[type="checkbox"]:checked + .check-button::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: green;
  top: 2px;
  right: 2px;
}
