#target-section {
  position: absolute;
  min-height: 100px;
  z-index: 1;
  top: 80px;
  left: 50%;
  background-color: #171717;
  width: 400px;
  max-height: 100vh;
  overflow-y: scroll;
}

#target-section:hover {
  background-color: #171717;
  transition: 0.2s;
}
#target-section:hover.dragable {
  z-index: 100;
  border-color: green;
  transition: none;
}
.target-header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px;
  width: 100%;
  border-bottom: 1px solid gray;
}
.target-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
}
.target-header {
  flex: 1;
  text-align: left;
  display: flex;
  align-items: end;
  gap: 10px;
}
.target-header svg {
  fill: white;
}
.target-achiv {
  position: relative;
  display: flex;
  gap: 10px;
  color: white;
  background-color: #111;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}
.prev-img {
  height: 80px;
  aspect-ratio: 1;
  filter: grayscale(1);
  transition: 0.2s;
}
.target-achiv.earned .prev-img {
  filter: grayscale(0);
  transition: 0.2s;
}

.target-achiv.earned.hardcore::after {
  content: "";
  position: absolute;
  height: 80%;
  aspect-ratio: 2 / 1;
  top: 40%;
  right: 10%;
  transform: translate(50%, -50%) rotate(45deg);
  background-image: url(../assets/img/S-rank-1.png);
  filter: drop-shadow(5px 3px 3px black);
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: hardcore-earned-animation 0.1s linear forwards;
  animation-delay: 0.6s;
}

.target-achiv-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.achiv-description {
  font-size: 1rem;
  flex: 1;
}
.delete-from-target {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 24px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  transition: 0.2s;
}
.delete-from-target svg {
  padding: 1px;
  fill: white;
}
.target-achiv:hover .delete-from-target {
  opacity: 0.8;
  transition: 0.2s;
}
.target-achiv:hover .delete-from-target:hover {
  opacity: 1;
  transition: 0.2s;
}
.target-achiv:hover .delete-from-target:active {
  transform: scale(0.9);
  opacity: 0.9;
  transition: 0.2s;
}
.target-achiv .prev {
  margin: auto 0;
}
.delete-from-target:hover {
  opacity: 1;
  transition: 0.2s;
}
.delete-from-target:active {
  opacity: 0.8;
  transform: scale(0.9);
  transition: 0.2s;
}
.target-empty-list {
  position: absolute;
  top: 50px;
  right: 30px;
  opacity: 0.7;
  font-weight: 600;
  font-size: 2.1rem;
}
