.target_section {
  top: 10px;
  left: 31%;
  width: 400px;
  height: 500px;
  max-height: 100vh;
  min-height: 100px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  cursor: grab;

}

/* ! fixed size*/
.target_section.fixed-size {
  height: fit-content !important;
}

.target_section.fixed-size .target-achiv {
  height: var(--cheevo-fixed-height);

}

.target_section.fixed-size .target-container {
  --cheevo-fixed-height: 7.5rem;
  max-height: calc(var(--max-count)*calc(var(--cheevo-fixed-height) + 1px) + 3px);
}

.target_section.fixed-size .target__cheevo-details {
  justify-content: space-evenly;
}

/**fixed size*/


.target_section.hide-bg {
  background: transparent;
}

.target_section.hide-bg:hover {
  background: var(--main-color) !important;
}

.target_section:not(:hover) {
  box-shadow: 0 0 5px 2px transparent;
}

.target-header_container {
  height: auto;

}



.target-achiv {
  --mark-color: transparent;
  gap: 10px;
  color: var(--font-color);
  background: var(--secondary-color);
  display: flex;
  flex-basis: 25rem;
  transition: 0.1s;
}



/* .target-achiv.border {
  padding: 0.5rem 1rem;
  gap: 15px;
} */

.target-achiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: var(--mark-color);
  box-shadow: 0 0 3px 0px var(--mark-color);
  z-index: 1;
  transition: background-color 1s, box-shadow 1s;
}

.target-achiv.earned::before {
  --mark-color: var(--silver-color);
}

.target-achiv.earned.hardcore::before {
  --mark-color: var(--gold-color);
}

.target-achiv.earned.hardcore.rare::before {
  --mark-color: var(--rare-color);
}

.target-achiv:not(.hardcore).highlight::before {
  --mark-color: green;
  /* border: 1px solid greenyellow; */
  /* box-shadow: 0 0 5px 2px var(--font-color); */
}

.highlight-passed .target-achiv:not(.hardcore).passed::before {
  --mark-color: crimson;
  /* border: 1px solid red; */
  /* box-shadow: 0 0 5px 2px var(--font-color); */
}

.hide-passed .target-achiv.passed {
  display: none;
}



.target-achiv.dragged {
  transition: none;
}

/* .target-achiv:hover::before {
  --blick-color: rgba(255, 255, 255, 0.05);
} */

.target-achiv.removed {
  display: none;
}

.target-achiv.hidden {
  transition: 0.1s;
  opacity: 0.2;
  pointer-events: none;
}

.prev {
  /* top: -3px; */
  --image-offset: 0px;
  height: 5rem;
  width: 5rem;
  /* overflow: hidden; */
}

.target-achiv.border .prev {
  /* --image-offset: 5px; */
  /* border: 3px solid var(--mark-color);
  border-radius: 10px;
  box-shadow: 0 0 5px -1px var(--mark-color); */
  --image-offset: -3px;

  border: 1px solid var(--mark-color);
  border-radius: 2px;
  box-shadow: var(--border-shadow);

}

.target-achiv:not(.earned) .prev {

  --mark-color: var(--accent-color);
}

.target-achiv.earned {
  --mark-color: var(--silver-color);
  --border-shadow: var(--silver-shadow);
}

.target-achiv.earned.hardcore {
  --mark-color: var(--gold-color);
  --border-shadow: var(--gold-shadow);
}

.target-achiv.earned.hardcore.rare {
  --mark-color: var(--rare-color);
  --border-shadow: var(--rare-shadow);
}


.prev-lock-overlay {
  display: none;
}

.section.show-overlay .prev-lock-overlay {
  display: flex;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  background-color: var(--main-color);
  width: 100%;
  height: 30%;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.target-achiv.earned .prev-lock-overlay {
  opacity: 0;
}

.target-achiv .prev-lock-overlay::before {
  content: "";
  height: 0.8rem;
  aspect-ratio: 1;
  mask-image: url(../assets/img/lock.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: var(--font-color);
  z-index: 1;
  transition: .2s;
}

.prev-lock-overlay::after {
  content: "LOCKED";
}


.prev-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
}

.prev-img {
  transform: translate(var(--image-offset), var(--image-offset));
  height: calc(100% + calc(var(--image-offset) * -2));
  aspect-ratio: 1;
  filter: opacity(.2);
  image-rendering: pixelated;
  /* border-radius: 4px; */
  overflow: hidden;
  transition: filter 0.2s;
}

[data-preview-filter="blur"] .prev-img {
  filter: blur(2px);
}

[data-preview-filter="opacity"] .prev-img {
  filter: opacity(0.3);
}

[data-preview-filter="grayscale"] .prev-img {
  filter: grayscale(1);
}

[data-preview-filter="disabled"] .prev-img {
  filter: none;
}

.target-achiv.border .prev-img {
  padding: 0.25rem;
}

.target-achiv.earned .prev-img {
  filter: grayscale(0) opacity(1) blur(0);
}



.target-achiv.earned {
  --mark-color: var(--silver-color);
  --icon-url: url(../assets/img/military_medal.svg);
}

.target-achiv.earned.hardcore {
  --mark-color: var(--gold-color);
}

.target-achiv.show-hard-anim {
  transform: translate(-0.25rem, -0.25rem);
  z-index: 2;
  box-shadow: 0 0 3px 0 black;
  transition: transform 200ms;
}

.target-achiv.show-hard-anim::after {
  animation: target-hardcore-animation 0.3s linear forwards;
}

@keyframes target-hardcore-animation {
  0% {
    width: 10rem;
    right: -10rem;
  }

  100% {
    width: 4rem;
    right: 0;
    opacity: 1;
  }
}

.target__cheevo-details {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  align-content: stretch;
  font-size: 1.05rem;
}

.target__cheevo-header {
  font-size: 1.1rem;
  white-space: nowrap;
  text-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
}

.target__cheevo-header>* {
  margin-right: 0.25rem;
}

.achiv-description {
  font-size: 1rem;
}

.target__buttons-container {
  position: absolute;
  height: calc(100% - 0.5rem);
  opacity: 0;
  background-color: var(--main-color);
  top: 0.25rem;
  right: 0.25rem;
  padding: 0.25rem;
  border-radius: 3px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.25rem;
}

.target-achiv:hover .target__buttons-container {
  opacity: 1;
  transition: 0.2s;
}

.target-achiv .prev {
  position: relative;
  align-self: center;
  aspect-ratio: 1;
  flex-shrink: 0;
}


.description-icon.none {
  display: none;
}

.condition {
  aspect-ratio: 1;
  height: 1.1rem;
  background-color: var(--font-color);
}

.condition.none {
  display: none;
}

.delete-from-target:hover {
  opacity: 1;
  transition: 0.2s;
}

.delete-from-target:active {
  opacity: 0.8;
  transform: scale(0.9);
  transition: 0.2s;
}


.text-input.target__search-bar {
  background-color: var(--main-color);
  max-width: 6rem;
  padding-right: 0.5rem;
  border-radius: 4px;
}

.text-input.target__search-bar:focus {
  background-color: var(--main-color);
  max-width: 10rem;
  opacity: 1;
}

.target-genre-badge,
.target-level-badge {
  display: none;
}

.show-genre .target-genre-badge {
  /* padding: 0; */
  /* --badge-font-color: var(--font-color); */
}

.show-genre .target-genre-badge,
.show-level .target-level-badge {
  display: inline;

}

.target-achiv:not(.show-difficult) .icons-row-list .difficult-icon {
  display: none !important;
}

.target__cheevo-details .icons-row-list {
  flex-wrap: nowrap;
}

.target__aotw-container {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: stretch;
  padding: 0.5rem 1rem;
}

.target_section:not(.show-events) .target__aotw-container {
  display: none;
}

.target__aotw {
  --font-color: black;
  --main-color: white;
  color: var(--font-color);
  background: var(--orange-gradient);

}

.target__aotw-container.target__aotw {
  padding: 0;
}


.target__aotw-container .target__cheevo-details {
  padding: 0.25rem;
  height: 100%;
}

.target__hide-aotw {
  position: absolute;
  top: .25rem;
  right: .25rem;
  z-index: 2;
}

.target__aotw-container .prev {
  align-self: center;
  flex-shrink: 0;
  height: 100%;
  min-height: 6rem;
  aspect-ratio: 1;
  mask-image: linear-gradient(to right, black 50%, transparent);
}

.target__aotw-container .prev-img {
  filter: none;
  height: 100%;
  aspect-ratio: 1;

}



/* ------------- */
.show-comments-button {
  position: absolute;
  bottom: 40px;
  right: 10px;
  height: 20px;
  aspect-ratio: 1;
  background-color: transparent;
  z-index: 2;
  opacity: 1;
  transition: 0.2s;
}

.comments-list {
  position: relative;
  padding: 1rem 0;
  flex: 1;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  /* height: 100%; */
  overflow-y: auto;
}


.comment {
  padding: 0 1rem;
  /* display: flex;
  flex-direction: column;
  align-items: end; */
}

.comment__header {
  position: relative;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  background-color: var(--accent-color);
  /* background-color: black; */
  /* border: 1px solid black; */
  /* color: white; */
  padding: 0.1rem 0.5rem;
  border-radius: 2px 2px 2px 0;
  width: fit-content;
  bottom: 0rem;
  left: 0rem;

}

.comment__user-name {
  font-size: inherit;
}

.comment__comment {
  position: relative;
  background: linear-gradient(to top left, var(--main-color), var(--secondary-color));
  background: var(--secondary-color);
  /* border: 1px solid black; */
  padding: 0.5rem;
  border-radius: 0 2px 2px 2px;
  user-select: text;
  cursor: text;
}

.comment__copy-button {
  position: absolute;
  height: 1.1rem;
  top: -0.25rem;
  right: -0.25rem;
  padding: 0 0.25rem;
  background-color: var(--font-color);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s;
}

.comment__note-button {
  position: absolute;
  height: 1.1rem;
  transform: translateY(100%);
  top: -0.25rem;
  right: -0.25rem;
  padding: 0 0.25rem;
  background-color: var(--font-color);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s;
}

.comment__copy-button:hover,
.comment__note-button:hover {
  opacity: 1;
  scale: 1.05;
}

.comment__copy-button:active,
.comment__note-button:active {
  opacity: 0.8;
  scale: 0.99;
}

.target__cheevo-progression-container {
  display: none;
  --color: var(--mark-color);
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  height: 4px;
  border: 1px solid var(--color);
}

.target__cheevo-progression {

  position: absolute;
  width: var(--progression);
  height: 100%;
  background-color: var(--color);
  top: 0;
  left: 0;
  /* border-right: 1px solid var(--accent-color); */
  /* box-shadow: -10px 0 15px 5px var(--accent-color); */
}

.show-progression-bar .target__cheevo-progression-container {
  display: block;
}

.target-unlock-anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.lines {
  position: absolute;
  left: 50%;
  width: 300%;
  height: 100%;
  animation: target-lines-anim 1.5s ease-in-out forwards;
}

.lines::before,
.lines::after {
  position: absolute;
  content: "";
  display: block;
  background: var(--font-color);
  top: -20%;
  left: 10%;
  opacity: 0.75;

}

.lines::before {
  width: 6rem;
  height: 200px;
  top: 50%;
  left: 75%;
  transform: rotateZ(35deg) translate(-50%, -50%);
}

.lines::after {
  height: 200px;
  width: 4rem;
  top: 0%;
  left: 35%;
  transform: rotateZ(35deg) translate(-0%, -50%);
}

@keyframes target-lines-anim {
  0% {
    left: -200%;
    background: var(--font-color);
  }

  5% {
    background: var(--font-color);
  }

  50% {
    background: transparent;
  }

  100% {
    left: 0%;
  }
}

.lock {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1;
  background: var(--font-color);
  mask-image: url(../assets/img/lock.svg);
  mask-size: 50%;
  mask-repeat: no-repeat;
  mask-position: center;
  animation: target-lock-anim 2s ease-in-out forwards;
}

@keyframes target-lock-anim {
  0% {
    transform: rotateZ(-5deg);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  15% {
    transform: rotateZ(0deg);
  }

  95% {
    transform: rotateZ(0deg);
    opacity: 1;
  }

  100% {
    transform: rotateZ(-5deg);
    opacity: 0;
  }
}