.mario__container {
    position: absolute;
    top: calc(var(--achiv-height) * 1.2);
    left: -50px;
    width: calc(var(--achiv-height));
    aspect-ratio: 1 / 2;
    background-image: url(../assets/img/jump.gif);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    image-rendering: pixelated;
}

/* .mario__container img{

} */