.update_section {
  position: absolute;
  overflow: hidden;
  background-color: var(--secondary-color);
  top: calc(100vh - 100px);
  left: 40%;
  height: 70px;
  min-width: 300px;
  min-height: 75px;
  max-height: 120px;
  z-index: 100;
  /* transition: 0.2s !important; */
}
.update_container {
  padding: 10px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  justify-content: space-between;
  z-index: 2;
  cursor: grab;
}
.update-section-text {
  text-align: right;
  text-wrap: nowrap;
  overflow: hidden;
}
.progress-percent {
  position: absolute;
  bottom: 5px;
  left: 60px;
  transform: translate(0, 0);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--font-color);
  opacity: 0.5;
}
.progress-percent.hidden {
  visibility: hidden;
}
.update-button {
  width: auto;
  margin-right: 20px;
}
.update-button {
  position: relative;
  --shadow-color: black;
  width: 40px;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--main-color);
  border: 1px solid var(--shadow-color);
  border-right: none;
  border-bottom: none;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
  /* background-image: url(../assets/img/play.svg); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.update-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--font-color);
  mask-image: url(../assets/img/play.svg);
  -webkit-mask-image: url(../assets/img/play.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
}
.update-button.active::after {
  mask-image: url(../assets/img/pause.svg);
  -webkit-mask-image: url(../assets/img/pause.svg);
}
.update-button.tick {
  /* animation: tickAnimation 0.5s; */
}
@keyframes tickAnimation {
  0% {
    background-color: var(--selection-color);
  }
  50% {
    background-color: var(--accent-color);
  }
  100% {
    background-color: var(--selection-color);
  }
}
.round-button:hover {
}
.update-button:active {
  box-shadow: 0 0 0;
  background-color: var(--selection-color);
}
.update-button svg {
  fill: var(--font-color);
  width: 26px;
  height: 26px;
}
.update-button.active {
  /* background-color: var(--selection-color); */
}
.update-button.active::after {
  /* content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--selection-color);
  box-shadow: 0 0 3px 2px var(--selection-color);
  top: 2px;
  right: 2px; */
}
.update-button.active svg,
.update-button.error svg {
  fill: black;
}
.update-button.active svg {
  animation: updateTickAnimation 2s linear infinite;
}

.update-button:not(.active) svg {
  opacity: 0.8;
  animation: endTickAnimation 0.5s linear;
}
.update-button.error {
  background-color: red;
  border-color: transparent;
}

@keyframes updateTickAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes endTickAnimation {
  to {
    transform: rotate(180deg);
  }
}
.update-game_header {
  text-align: end;
}
.update-game_header a {
  position: relative;
  color: var(--font-color);
  font-size: 1.1rem;
  font-weight: 600;
}
.update-game_header a:hover {
  text-decoration: underline;
}

.update-text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  flex: 1;
  overflow: hidden;
}
.update-game-preview {
  height: 100%;
  max-height: 100%;
  aspect-ratio: 1;
  object-fit: fill;
  border-radius: 5px;
  overflow: hidden;
  pointer-events: none;
}
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--progress-points, 0%);
  background-color: var(--accent-color);
}
.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--progress-count, 0%);
  background-color: var(--accent-color);
  opacity: 0.36;
  z-index: -1;
}
