.update_section {
  position: absolute;
  background-color: var(--secondary-color);
  top: calc(100vh - 100px);
  left: 30%;
  height: 70px;
  min-width: 300px;
  min-height: 75px;
  max-height: 150px;
  width: 500px;
  z-index: 1;
  perspective: 1500px;

  /* transition: 0.2s !important; */
}

.section.update_section {
  box-shadow: 0 0 0 transparent;
  background: transparent;
  border-radius: 5px;

}

.update_section .resizer {
  overflow: visible;
  z-index: 2;
}

#status-resizer {
  border-radius: 0 0 5px 0;
}

.update_container {
  background: var(--main-color);
  box-shadow: 0 0 3px 1px black;
  height: 100%;
  position: relative;
  border-radius: 5px;
  cursor: grab;
  transform-style: preserve-3d;
  transition: 1s;
}

.update_container.show-back {
  transform: rotateX(180deg);
}

.update_user-status {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 0 15px;

}

/**---------------- BACK SIDE ------------- */
.update_back-side {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 0 10px;
  transform: rotateX(180deg);
  background-color: var(--secondary-color);
  border-radius: inherit;
}

.update_back-side::after {
  content: "";
  position: absolute;
  height: 100%;
  aspect-ratio: 2 / 1;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%) rotate(45deg);
  background-image: url(../assets/img/S-rank-1.png);
  filter: drop-shadow(5px 3px 3px black);
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  right: -20px;
  z-index: 2;
}

.card-3d {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.update_achiv-header {
  font-size: 1.3rem;
  font-weight: 600;
  text-wrap: nowrap;
}

.update_achiv-points {
  font-size: 1.6rem;
  font-weight: 600;
}

/**---------------- BACK SIDE ------------- */
.update-game-preview {
  height: 100%;
  max-height: 75%;
  aspect-ratio: 1;
  object-fit: fill;
  border-radius: 10px;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
  filter: contrast(1);
}

.update-section-text {
  text-align: left;
  text-wrap: nowrap;
  overflow: hidden;
}

.update-button_container {
  display: flex;
  align-items: center;
  height: 50%;
  gap: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.progress-percent {
  --animation-duration: 0.2s;
  /* transform: translateY(50%); */
  font-size: 2.5rem;
  text-wrap: nowrap;
  word-wrap: none;
  font-weight: 600;
  color: var(--font-color);
  opacity: 0.2;
  animation: show-stats-animation var(--animation-duration) ease-in-out forwards;
}

.progress-percent.hidden {
  visibility: hidden;
}

.progress-percent.hide {
  animation: hide-stats-animation var(--animation-duration) ease-in-out forwards;
}

@keyframes show-stats-animation {
  0% {
    margin-bottom: 150%;
  }

  100% {
    margin-bottom: 0;
  }
}

@keyframes hide-stats-animation {
  0% {
    margin-bottom: 0;
  }

  100% {
    margin-bottom: -50%;
  }
}



.update-button {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 0 10px 2px var(--secondary-color);
  transition: 0.2s;
}

.update-button:hover {
  box-shadow: 0 0 10px 4px var(--secondary-color);
  transform: scale(1.1);
}

.update-button:active {
  transform: scale(1.05);
}

.update-button::after {
  content: "";
  position: absolute;
  height: 80%;
  aspect-ratio: 1;
  background-color: var(--font-color);
  mask-image: url(../assets/img/play.svg);
  -webkit-mask-image: url(../assets/img/play.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  opacity: 0.6;
  transition: .2s;
}

.update-button:hover::after {
  opacity: 1;

}

.update-button.active::after {
  mask-image: url(../assets/img/pause.svg);
  -webkit-mask-image: url(../assets/img/pause.svg);
}

@keyframes tickAnimation {
  0% {
    background-color: var(--selection-color);
  }

  50% {
    background-color: var(--accent-color);
  }

  100% {
    background-color: var(--selection-color);
  }
}

.update-button:active {
  box-shadow: 0 0 0;
  background-color: var(--selection-color);
}

.update-button svg {
  fill: var(--font-color);
  width: 26px;
  height: 26px;
}

.update-button.active svg,
.update-button.error svg {
  fill: black;
}

.update-button.active svg {
  animation: updateTickAnimation 2s linear infinite;
}

.update-button:not(.active) svg {
  opacity: 0.8;
  animation: endTickAnimation 0.5s linear;
}

.update-button.error {
  background-color: red;
  border-color: transparent;
}

@keyframes updateTickAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes endTickAnimation {
  to {
    transform: rotate(180deg);
  }
}

.update-game_header {
  text-align: start;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  overflow: scroll;
}

.update-game_header a {
  position: relative;
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 2px;
  border-radius: 8px;
  flex-shrink: 0;
}

.update-game_header a:hover {
  text-decoration: underline;
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.update-game-platform {
  flex-shrink: 1;
  color: var(--font-color);
  background-color: var(--secondary-color);
  align-self: flex-start;
  padding: 0px 8px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.0rem;
  opacity: 0.8;
}

.update-game-platform.hidden {
  display: none;
}

.update-text-block {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  flex: 1;
  overflow: hidden;
  z-index: 1;
}



.update-section-text.rich-presence_text {
  flex-grow: 0;
  overflow: scroll;
  text-wrap: nowrap;
  white-space: nowrap;
  font-size: 1rem;
}

.rich-presence_text.hidden {
  display: none;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px 0 0 5px;
  z-index: 0;
  width: var(--progress-points, 0%);
  background-color: var(--accent-color);
  box-shadow: 0 0 2px 0 var(--accent-color);
  transition: width 2s ease-in-out;
}

.progress-bar_delta-values {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px 0 0 5px;
  width: var(--progress-points, 0%);
  background-color: var(--selection-color);
  z-index: -1;
  transition: none;
}

.progress-bar_delta-values.hidden {
  opacity: 0;
  transition: .2s;
  transition-delay: 5s;
}

.status_glass-effect {
  position: absolute;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-position: 110% 0%;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  mix-blend-mode: color-dodge;
  opacity: 1;
  animation: none;
  transition: none;
  background-image: linear-gradient(115deg,
      transparent 0%,
      transparent 25%,
      rgba(255, 0, 231, 0.7) 35%,
      rgba(0, 231, 255, 0.7) 45%,
      rgba(255, 0, 231, 0.7) 55%,
      transparent 70%,
      transparent 100%);
  z-index: 2;
  pointer-events: none;
}

.status_glass-effect.update {
  animation: status-glass-animation 3s ease-in-out forwards;
  animation-delay: 0s;
}

@keyframes status-glass-animation {
  0% {
    background-position: 110% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}