.update_section {
  position: absolute;
  background-color: var(--secondary-color);
  top: calc(100vh - 100px);
  left: 30%;
  height: 70px;
  min-width: 300px;
  min-height: 75px;
  max-height: 150px;
  width: 500px;
  z-index: 1;
  perspective: 1500px;
  /* transition: 0.2s !important; */
}

.update_section .update__game-info {
  display: none;
}

.update_section .update-progres {
  display: none;
}

.title-platform-badge {
  display: none;
}

.update_section.show-game-info .update__game-info {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: auto;
  font-size: inherit;
}

.update_section.show-game-progress .title-platform-badge {
  display: inline;
}

.update_section.show-game-progress .update-progres {
  display: flex;
}

.timer-timeout .update_container {
  background: rgb(134, 0, 27);
}

.section.update_section {
  box-shadow: 0 0 0 transparent;
  background: transparent;
}

.update_section .resizer {
  overflow: visible;
  z-index: 2;
}

.update_section::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--font-color);
  border-radius: 50%;
  top: 5px;
  right: 5px;
  opacity: 0;
}

.update_section.blink::after {
  animation: update-blink 1s;
}

@keyframes update-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.update__header-buttons {
  position: absolute;
  z-index: 10;
  right: 0.25rem;
  top: 0.25rem;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  display: flex;
  opacity: 0;
}

.update_section:hover .update__header-buttons {
  opacity: 1;
}

.header-link-icon.header-button:hover {
  background: transparent;
}

.header-link-icon.header-button.hidden {
  display: none;
}

.update_container {
  background: var(--main-color);
  box-shadow: 0 0 3px 1px black;
  height: 100%;
  position: relative;
  border-radius: var(--border-radius);
  cursor: grab;
  transform-style: preserve-3d;
  transition: 1s;
  transform: rotateX(0deg);
  font-size: 16px;
}

.update_container.show-back {
  transform: rotateX(180deg);
  animation: rotate-status-animation 1s ease-in-out;
  transition: 1s;
}

/* .update */
.show-back .status_glass-effect {
  animation: status-glass-animation 1s ease-in-out forwards;
  animation-delay: 0s;
}

@keyframes status-glass-animation {
  20% {
    background-position-x: 100%;
  }

  65% {
    background-position-x: -70%;
  }

  65.1% {
    background-position-x: 120%;
  }

  80% {
    background-position-x: 80%;
  }

  100% {
    background-position-x: 110%;
  }
}

@keyframes status-glass-animation-back {
  0% {
    background-position-x: 110%
  }

  10% {
    background-position-x: 120%
  }

  10.01% {
    background-position-x: -70%;
  }

  100% {
    background-position-x: 80%;
  }
}

@keyframes rotate-status-animation {
  0% {
    transform: rotateX(0deg);
  }

  80% {
    transform: rotateX(220deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

.status_glass-effect {
  position: absolute;
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: 200% 200%;
  mix-blend-mode: color-dodge;
  opacity: 1;
  background-image: linear-gradient(120deg,
      transparent 0%,
      transparent 18%,
      var(--accent-color) 20%,
      rgba(0, 247, 255, 0.7) 25%,
      rgba(0, 231, 255, 0.7) 30%,
      rgba(255, 0, 231, 0.7) 40%,
      var(--accent-color) 50%,
      transparent 60%,
      transparent 100%);
  z-index: 12;
  pointer-events: none;
  animation: status-glass-animation-back 0.5s ease-in-out forwards;
  animation-delay: 0s;
}

#game-title {
  overflow-x: scroll;
  max-width: 100%;
}


.update_user-status {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  overflow: hidden;
  border-radius: var(--border-radius);
  padding-bottom: 5px;
}

.update_user-status::before,
.update_user-status::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--font-color);
  opacity: 0.06;
  z-index: 10;
}

.update_user-status::before {
  bottom: 0;
  height: 7px;
  background-color: var(--main-color);
  z-index: 9;
  opacity: 1;
}

/**---------------- BACK SIDE ------------- */
.update_back-side {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 5px 20px;
  transform: rotateX(180deg);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}


.new-game-info .update_back-side {
  gap: 5px;
  padding: 0;
}

.update_back-side::after {
  --color: silver;
  content: "";
  position: absolute;
  height: 80%;
  aspect-ratio: 1;
  right: 0px;
  top: 50%;
  transform: translate(-100%, -200%);
  background-color: var(--color);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.new-award .update_back-side::after {
  mask-image: url(../assets/img/trophy.svg);
  animation: update-achiv-anim 0.5s linear forwards;
}

.new-achiv .update_back-side::after {
  mask-image: url(../assets/img/military_medal.svg);
  animation: update-achiv-anim 0.5s linear forwards;
}

.update_back-side.mastered::after,
.update_back-side.hardcore::after {
  --color: gold;
}

@keyframes update-achiv-anim {
  from {
    transform: scale(2) translate(100%, -200%);

  }

  to {
    transform: scale(1.0) translate(0, -50%);

  }
}

.new-game-info .update_back-side::after {
  content: none;
  background-image: "";
}

.card-3d {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  font-size: inherit;
}

.update_achiv-header {
  font-size: 1.6em;
  font-weight: 600;
  text-wrap: nowrap;
  overflow-x: hidden;
  max-width: 100%;
}

#update_achiv-title {
  max-width: 100%;
  overflow-x: scroll;
  display: block;
  white-space: nowrap;
}

.new-game-info .update_achiv-header {
  font-size: 1.4em;
  font-weight: 600;
}

.update_achiv-points {
  font-size: 1.6em;
  font-weight: 600;
}

.new-game-info .update_achiv-points {
  font-size: 1.4em;
  font-weight: 600;
}

.update_preview-container {
  font-size: inherit;
}

.update_back-side .update_preview-container {
  max-height: 75%;
}

.new-game-info .update_back-side .update_preview-container {
  max-height: 100%;

}

.status__difficult-badge {
  display: inline-block;
  font-size: inherit;
  color: black;
  text-transform: uppercase;
  font-size: 0.8em;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 0.2em;
}

/**---------------- BACK SIDE ------------- */
.update_preview-container {
  position: relative;
  /* max-height: 75%; */
  height: 100%;
  aspect-ratio: 1;
  z-index: 1;
  box-shadow: 0 1px 5px 2px black;
}

.update_preview-container::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: linear-gradient(to bottom, transparent, var(--secondary-color), transparent);
}


.update-game-preview {
  height: 100%;
  aspect-ratio: 1;
  object-fit: fill;
  border-radius: 5px 0 0 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
  filter: contrast(1);
}

.update_preview-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  z-index: 3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.update_back-side.hardcore .update_preview-container::after {
  background-image: url(../assets/img/border-8.webp);
}

.update_back-side .update_preview-container::after {
  background-image: url(../assets/img/game-border-5.webp);
}

.new-game-info .update_back-side .update_preview-container::after {
  content: none;
}

.update-section-text {
  text-align: left;
  text-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}



.progress-percent {
  --animation-duration: 1s;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  text-wrap: nowrap;
  word-wrap: none;
  font-weight: 600;
  color: var(--font-color);
  opacity: 0.2;
  /* animation: show-stats-animation var(--animation-duration) ease-in-out forwards; */
  /* animation-delay: var(--animation-duration); */
  z-index: 2;
  transition: var(--animation-duration);
  padding-bottom: 6px;
  pointer-events: none;
}

.progress-percent.hidden {
  visibility: hidden;
}

.progress-percent.hide {
  color: var(--main-color);
  /* animation: hide-stats-animation var(--animation-duration) ease-in-out forwards; */
}

@keyframes show-stats-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.2;
  }
}

@keyframes hide-stats-animation {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 0;
  }
}



.update-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 2px var(--secondary-color);
  z-index: 10;
  opacity: 0;
  transition: 0.2s;
}

.section:hover .update-button {
  opacity: 1;
}

.update-button:hover {
  box-shadow: 0 0 10px 4px var(--secondary-color);
  transform: translate(-50%, -50%) scale(1.1);
}

.update-button:active {
  background-color: var(--accent-color);
  box-shadow: 0 0 10px 4px var(--accent-color);
  transform: translate(-50%, -50%) scale(1.05);
}

.update-button::after {
  content: "";
  position: absolute;
  height: 80%;
  aspect-ratio: 1;
  background-color: var(--font-color);
  mask-image: url(../assets/img/play.svg);
  -webkit-mask-image: url(../assets/img/play.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  opacity: 0.6;
  transition: .2s;
}

.update-button:hover::after {
  opacity: 1;

}

.update-button.active::after {
  mask-image: url(../assets/img/pause.svg);
  -webkit-mask-image: url(../assets/img/pause.svg);
}

@keyframes tickAnimation {
  0% {
    background-color: var(--selection-color);
  }

  50% {
    background-color: var(--accent-color);
  }

  100% {
    background-color: var(--selection-color);
  }
}


.update-button svg {
  fill: var(--font-color);
  width: 26px;
  height: 26px;
}

.update-button.active svg,
.update-button.error svg {
  fill: black;
}

.update-button.active svg {
  animation: updateTickAnimation 2s linear infinite;
}

.update-button:not(.active) svg {
  opacity: 0.8;
  animation: endTickAnimation 0.5s linear;
}

.update-button.error {
  background-color: red;
  border-color: transparent;
}

@keyframes updateTickAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes endTickAnimation {
  to {
    transform: rotate(180deg);
  }
}

.update__retro-ratio {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  font-size: 1em;
  font-weight: 600;
  padding: 0 .2em 2px;
  border-radius: 0 5px 0 0;
  line-height: 1em;
}


.show-game-ratio .update__retro-ratio {
  display: block;
}

.update-game_header {
  text-align: start;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
  overflow: scroll;
  font-size: inherit;
}

.update-game_header a {
  position: relative;
  color: var(--font-color);
  font-size: 1.2em;
  font-weight: 600;
  padding: 0 2px;
  border-radius: 8px;
  flex-shrink: 0;
}



.update-game_header a:hover {
  text-decoration: underline;
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.update-game-platform {
  flex-shrink: 1;
  color: var(--font-color);
  background-color: var(--secondary-color);
  align-self: flex-start;
  padding: 0px 8px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.0em;
  opacity: 0.8;
}

.update-game-platform.hidden {
  display: none;
}

.update-text-block {
  position: relative;
  /* padding: 5px 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  flex: 1;
  overflow: hidden;
  z-index: 1;
  font-size: inherit;
  padding: 0.2rem;
}


.update-section-text.rich-presence_text {
  flex-grow: 0;
  overflow: scroll;
  text-wrap: nowrap;
  white-space: nowrap;
  font-size: 1em;
}

.rich-presence_text.hidden {
  display: none;
}

.progress-bar {
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 5px;
  /* border-radius: var(--border-radius) 0 0 var(--border-radius); */
  z-index: 11;
  width: var(--progress-points, 0%);
  /* background: linear-gradient(to right, transparent, var(--accent-color) 90%); */
  background-color: var(--accent-color);
  transition: width 2s ease-in-out;
}

.progress-bar_delta-values {
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 3px;
  /* border-radius: 5px 0 0 5px; */
  width: var(--progress-points, 0%);
  /* background: linear-gradient(to right, transparent, var(--selection-color) 90%); */
  background-color: greenyellow;
  z-index: 10;
  transition: none;
}

.progress-bar_delta-values.hidden {
  opacity: 0;
  transition: .2s;
  transition-delay: 5s;
}


.status__background {}

/*! PROGRESSION TREE */

.update-progres {
  --progress: 2;
  width: 100%;
  height: 3em;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  font-size: inherit;
}

.progres-description {
  font-size: 1em;
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
}

.progres-container {
  --color: var(--font-color);
  --width: calc(100% / 5);
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: end;
  justify-content: start;
  font-size: inherit;
  padding: 0 0.25rem;
}

.progres-step.checked {
  --color: var(--accent-color);
}

.progres-step__win:has(.checked) {
  --color: var(--accent-color);
}

.progres-step,
.progres-step__win {
  position: relative;
  width: var(--width);
  max-width: 5em;
  height: 1.5em;
  background-color: transparent;
  display: flex;
  justify-content: end;
  font-size: inherit;
  align-items: center;
}

.progres-step:first-child,
.progres-step__win:first-child {
  width: auto;
}

.progres-step:first-child {
  width: auto;
}

.progres-point {
  position: relative;
  background-color: var(--main-color);
  height: 1.2em;
  max-height: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--color);

  display: grid;
  place-items: center;
  z-index: 2;
  font-size: inherit;
}

.progres-point.win {
  border: none;
  background-color: var(--main-color);
  width: 0.75rem;
}


.progres-point:hover {
  scale: 1.1;
  transition: 0.2s;
}

.checked .progres-point:not(.win) {
  background-color: var(--color);
}

.progres-step:not(:first-child)::before,
.progres-step__win:not(:first-child)::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color);
  z-index: 1;
}

.progres-step__win {
  display: flex;
  align-self: center;
  justify-content: end;
}

.progres-step .progres-point::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--font-color);
}


.progres-point.win::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 30%;
  aspect-ratio: 1;
  height: 120%;
  background-color: var(--font-color);
  mask-image: url(../assets/img/flag.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  overflow: visible;
}

.progres-step.checked .progres-point:not(.win):before {
  height: 100%;
  border-radius: 50%;
  background-color: var(--font-color);
  mask-image: url(../assets/img/check.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.progres-point.checked.win:before {
  background-color: gold;
}


.progres-point.focus::after {
  content: '';
  position: absolute;
  height: 160%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px dashed var(--font-color);
  animation: rotate-animation 10s linear infinite;
}

@keyframes rotate-animation {
  to {
    transform: rotateZ(360deg);
  }
}

.update-main-information::after {
  /* content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../assets/img/nes-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  opacity: 0.2; */
}