json/games/script.js
json/games/searchData.js
json/games/mergeData.js
json/games/platforms
worker.js
downloader.js
json/games/rawgParser.js
json/games/RAWGPlatforms.json
json/games/rawg-platforms.json
node_modules/
webpack.config.js
dist/bundle.min.js.LICENSE.txt
assets/database.sql
elements/
test.html
tools
constructor
user
js
test