.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;
    width: 100%;
}

.list-item {
    position: relative;
    display: flex;
    gap: 0.75rem;
    padding: 0.5rem;
    border-radius: 6px;
    background: var(--bg-color);
    border: 1px solid var(--bg-color);
    width: 100%;
    transition: 100ms;
}

.item-icon {
    height: 4rem;
    aspect-ratio: 1;
    border-radius: 5px;
    flex-shrink: 0;
}

.item-img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: inherit;
}

.item-meta {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3px;
    flex: 1;
    min-width: 0;
}

.item-name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-desc {
    font-size: 0.9rem;
    color: var(--secondary-font-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-icons-row {
    font-size: 0.9rem;
    color: var(--secondary-font-color);
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.item-points {
    font-size: 0.9rem;
    font-weight: bold;
    color: #f7b733;
    font-weight: 600;
    flex-shrink: 0;
    background: black;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 100px;
    display: grid;
    place-items: center;
}

.list-badge-item {
    align-self: center;
    background: var(--main-color);
    color: var(--font-color);
    padding: 0.1rem 1rem;
    border-radius: 4px;
    font-size: 0.95rem;
    border: 1px solid var(--main-color);
}

/* Панель сортування / фільтрації */
.toolbar {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    overflow: scroll;
}

.toolbar select,
.btn {
    font-family: inherit;
    background: #323232;
    border: 1px solid #3d3d3d;
    color: #d6d6d6;
    font-size: 11px;
    border-radius: 4px;
    padding: 5px 8px;
    cursor: pointer;
}

.btn-exp>span {
    text-transform: uppercase;
}

.btn.btn-exp:after {
    content: "";
    margin-left: 0.5rem;
}

.toolbar select {
    width: 8rem;
}

.toolbar select:hover,
.btn:hover {
    background: #3d3d3d;
}

.toolbar select:focus,
.btn:focus {
    outline: 1px solid #2b88d8;
}

.filter-group {
    display: flex;
    gap: 4px;
    margin-left: auto;
}

.btn.active {
    background: #2b88d8;
    border-color: #2b88d8;
    color: #fff;
}

.badge {
    padding: 1px 4px;
    border-radius: 3px;
    font-size: 0.9em;
    display: inline-block;
}

.badge.badge_solid-black {
    background: black;
    color: #fff;
}