.user-info__container {
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 2rem;
    flex: 1;
    overflow: scroll;
    width: 100%;
}

.section__header-container.user-info__header-container {
    padding: 1rem;
    gap: 1rem;
}

.user-info__header {
    display: flex;
    gap: 1rem;
}

.user-info__avatar-container {
    height: 7rem;
    aspect-ratio: 1;
}

.user-info__avatar {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 15%;
    border: 1px solid var(--secondary-color);
}

.user-info__user-name-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    overflow: hidden;
}

.user-info__user-name {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.user-info__user-rank {
    justify-self: flex-start;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--accent-color);
    padding: 5px 10px;
    border-radius: .5rem;
    color: var(--main-color);
}

.user-info__rich-presence {
    max-width: 100%;
    overflow-x: scroll;
    text-wrap: nowrap;
    font-size: 1.1rem;
}

.user-info__points-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.user-info__points-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.user-info__points-name {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.user-info__points {
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.vertical-line {
    align-self: center;
    width: 1px;
    height: 3rem;
    background: linear-gradient(to bottom, transparent, var(--font-color), transparent);
    opacity: 0.2;
}

.user-info__block-header {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.user-info__last-games-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
    width: 100%;
    overflow: scroll;
    padding-bottom: 6rem;
}

.user-info__last-game-container {
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    box-shadow: var(--item-shadow);
    overflow: hidden;
    flex-shrink: 0;
}

.user-info__game-main-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: .75rem;
    height: 6.5rem;
}

.user-info__game-preview-container {
    height: 100%;
}

.user-info__game-preview {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 15%;
}

.user-info__game-description {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.user-info__game-title {
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 100%;
    overflow-x: scroll;
    text-wrap: nowrap;
}

.user-info_game-stats-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: scroll;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.game-stats {
    position: relative;
    display: flex;
    gap: .1rem;
    align-items: center;
}

.game-stats__text {
    text-wrap: nowrap;
    font-size: 1rem;
}

.game-stats__difficult-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.game-stats__icon {
    display: inline-block;
    height: 1.4rem;
    aspect-ratio: 1;
    background-color: var(--font-color);
    mask-size: contain;
    mask-repeat: no-repeat;
}

.achiv-rarity {
    min-width: 1rem;
    min-height: 1rem;
}

.game-stats__achivs-icon {

    mask-image: url(../../assets/img/star.svg);

}

.game-stats__points-icon {
    mask-image: url(../../assets/img/points.svg);
}

.game-stats__retropoints-icon {
    mask-image: url(../../assets/img/bolt.svg);
}

.game-stats__trending-icon {
    mask-image: url(../../assets/img/trending.svg);

}

.game-stats__button {
    position: absolute;
    right: 0;
    display: grid;
    place-items: center;
    width: 2.5rem;
    padding: 0.5rem;
    height: 100%;
    z-index: 1;
    /* padding: 0.2rem; */
    /* aspect-ratio: 1; */

    /* overflow: hidden; */
}

.game-stats__button::after {
    position: absolute;
    content: '';
    transform: translateY(-50%);
    top: 50%;

    background-color: var(--font-color);
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
}

.game-stats__expand-icon {
    width: 100%;
    aspect-ratio: 1;

    background-color: var(--main-color);
    mask-image: url(../../assets/img/expand_more.svg);
    mask-position: bottom;
    mask-size: contain;
    /* margin-right: .5rem; */
    transition: .2s;
    z-index: 1;
}

.expanded .game-stats__expand-icon {
    mask-image: url(../../assets/img/expand_more.svg);
    transform: rotate(180deg);

}

.achiv-rarity {
    padding: 0 0.5rem;
    border-radius: 5pt;
    color: black;
    text-transform: uppercase;
    font-weight: 600;

}

.achiv-rarity__hell {
    background-color: #800080;
    animation: hell-anim 6s infinite;
}

@keyframes hell-anim {
    0% {
        background-color: #800080;
    }

    50% {
        background-color: crimson;
    }

    100% {
        background-color: #800080;
    }
}

.achiv-rarity__insane {
    background-color: #800080;
}

.achiv-rarity__pro {
    background-color: orange;
}

.achiv-rarity__expert {
    background-color: crimson;
}

.achiv-rarity__standard {
    background-color: green;
}

.achiv-rarity__easy {
    background-color: greenyellow;
}

.user-info__game-achivs-container {
    max-height: 0;
    min-height: 0;
    /* transition: max-height 0.5s ease-in-out; */
}

.expanded .user-info__game-achivs-container {
    overflow-y: auto;
    animation: expand-game-item .2s forwards;
    transition: .5s;
}

@keyframes expand-game-item {
    from {
        max-height: 0;
        min-height: 0;
    }

    to {
        min-height: 60vh;
        max-height: 60vh;
    }
}

.user-info__game-achivs-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 0.5rem;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    padding: 1rem;
}



.user-info__achiv-container {
    display: flex;
    justify-content: start;
    gap: 1rem;
    padding: 0.75rem;
    background-color: var(--main-color);
    border-radius: 1rem;
    width: 100%;
    height: 6rem;
    overflow: hidden;

}

.user-info__achiv-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.user-info__achiv-preview-container {
    height: 100%;
}

.user-info__achiv-preview {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 15%;
    image-rendering: pixelated;
    filter: grayscale(1);
}

.user-info__achiv-preview.earned {
    filter: grayscale(0.2);
}


/** -------POPUP-INFO----------- */

.popup-info__container {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    /* bottom: 1rem; */
    left: 50%;
    width: 90%;
    max-height: calc(100vh - 100px);
    background-color: var(--secondary-color);
    padding: 2rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    overflow-y: scroll;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.452);
    animation: show-popup .1s ease-in;
    z-index: 10;
}

@keyframes show-popup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.popup-info__preview-container {
    position: relative;
    align-self: center;
    height: 8rem;
    aspect-ratio: 1;
}

.popup-info__preview {
    height: 100%;
    image-rendering: pixelated;
}

.popup-info__title {
    flex-shrink: 0;
    text-align: center;
    width: 100%;
    text-wrap: nowrap;
    overflow-x: scroll;
    font-size: 1.5rem;
    font-weight: 600;
}

.hor-line {
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, transparent, var(--font-color), transparent);
    opacity: 0.2;
}

.popup-info__description {
    padding: 0 1rem;
    width: 100%;
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 400;
}

.popup-info__properties {
    flex-shrink: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    max-width: 100%;
    overflow-x: scroll;
}

.popup-info__property {
    padding: 0 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    text-wrap: nowrap;
    overflow: scroll;
    flex-shrink: 0;
}

.close-popup {
    right: 1rem;
    top: 1rem;
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: var(--font-color);
    mask-image: url(../../assets/img/close.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.popup-info__image-list {
    flex-shrink: 0;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    justify-content: space-between;
    height: 15rem;
    flex-shrink: 1;
}

.popup-info__image {
    height: 100%;
}