.library__game-container {
    height: 5rem;
}

.library__game-title {
    font-size: 1rem;
    font-weight: 600;
    max-width: 100%;
    overflow-x: scroll;
    text-wrap: nowrap;
    overflow: visible;
}