.login__section {
    display: grid;
    place-items: center;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 6rem;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    height: 500px;
    padding: 0 3rem;
}

.login__image-container {
    width: 15rem;

}

.login__image {
    width: 100%;
}

.login__input-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.login__input {
    padding: .8rem;
    font-size: 2rem;
    color: var(--font-color);
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    border: .1rem solid transparent;
    text-align: center;
}

.login__input:focus {
    border: .1rem solid var(--accent-color);
}

.login__apikey-link {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    border-radius: .5rem;
    margin-top: 1rem;
    align-self: flex-end;
}

.login__apikey-link:active {
    -webkit-tap-highlight-color: transparent;
    opacity: 0.8;
}

.login__submit-button {
    background-color: transparent;
    border: 2px solid var(--accent-color);
    color: var(--font-color);
    transition: 0.1s;
}

.login__submit-button:active {
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.9);
    border-color: transparent;
}

.login__submit-button.error {
    background-color: crimson;
    border-color: transparent;
}

.login__submit-button.verified {
    background-color: lime;
    color: black;
    border-color: transparent;
}