@import url(./reset.css);
@import url(./login.css);
@import url(./home.css);

body {
    --main-color: #1f1f1f;
    --secondary-color: #303134;
    --accent-color: #34517d;
    --font-color: #d6d6d6;
    --selection-color: #2c303d;
    --font-family: system-ui;
    background-color: var(--main-color);
}

a,
p,
h1,
h2,
h3,
button,
div,
li {
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--font-color);
    user-select: none;
}

.wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}

/* *----------NAVBAR--------------- */
.navbar {
    width: 100vw;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    padding: 0 1rem 0.5rem;
}

.navbar.hidden {
    display: none;
}

.navbar__list {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    border-radius: 1rem;

}

.navbar__item {
    flex-grow: 1;
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__item {
    height: 5rem;
}

.navbar__item svg {
    height: 2rem;
    width: 2rem;
    aspect-ratio: 1;
    fill: var(--font-color);
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

/* *----------SECTION--------------- */
.section-container {
    width: 100%;
    flex: 1;
    /* border: 1px solid red; */
    overflow-y: scroll;
}

.section {
    height: 100%;
}